<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>咨询提问</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/edit_userinfo.css">
  <link rel="stylesheet" href="../css/professor.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper padding-4">
  <my-header title="咨询提问"></my-header>
  <div class="add-question-form container">
    <div class="input-row">
      <label for="twtitle">问题标题</label>
      <input id="twtitle" v-model="twtitle" type="text" placeholder="请填写标题">
    </div>
    <div class="input-row input-area">
      <label for="twcontent">问题内容</label>
      <textarea id="twcontent" v-model="twcontent" placeholder="请填写问题内容"></textarea>
    </div>
    <div class="person-credentials">
      <div class="person-credentials-title">
        <span>上传附件</span>
        <span>作品、证书、自拍美照等（最多8张）</span>
      </div>
      <div class="person-credentials-list">
        <div class="person-credentials-image-wrap">
          <div class="button-delete"></div>
          <img src="../image/home_banner.jpg" alt="">
        </div>
        <div class="person-credentials-image-wrap">
          <div class="button-delete"></div>
          <img src="../image/home_banner.jpg" alt="">
        </div>
        <div class="upload-box">
          <input type="file">
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-bottom">
    <div class="btn-submit" @click="onSubmit">提交问题</div>
  </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/add_edit_supply.js"></script>
</body>
</html>