<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>发布供应</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/mysupply.css">
  <link rel="stylesheet" href="../css/edit_userinfo.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <my-header :title="title"></my-header>
  <form class="supply-form" action="">
    <div class="input-row">
      <label for="skillname">供应名称</label>
      <input id="skillname" type="text" v-model="skill.skillName" placeholder="填写或选择您可以赚钱的技能（10字内）">
    </div>
    <div class="input-row supply-detail">
      <label for="skilldetails">供应详情</label>
      <textarea class="px-textarea" id="skilldetails" v-model="skill.skilldetails" placeholder="对此技能的描述"></textarea>
    </div>
    <div class="input-row">
      <label for="skilltype">分类</label>
      <select id="skilltype" class="px-select" v-model="skill.skilltype">
        <option value="消防设计">消防设计</option>
        <option value="消防施工">消防施工</option>
        <option value="消防产品">消防产品</option>
      </select>
    </div>
    <div class="input-row">
      <label for="servertime">有效时间</label>
      <input type="input" id="servertime" v-model="skill.servertime" readonly @click="onSelectDate" />
    </div>
    <div class="fs24 text-warning" style="margin-top: 0.35rem;">提示：若不填有效时间则默认为长期供应</div>
    <div class="input-row" @click="selectDistrict">
      <label for="">地区</label>
      <span :class="{'text-999': !skill.Province}">{{zoneText}}</span>
    </div>
    <div class="input-row">
      <label for="money">价格</label>
      <input id="money" type="tel" v-model.number="skill.money" placeholder="请写合适的费用（不填为面议）">
    </div>
    <div class="person-credentials">
      <div class="person-credentials-title">
        <span>附件</span>
        <span>产品、服务照片（最多8张）</span>
      </div>
      <div class="person-credentials-list" v-cloak>
        <div class="person-credentials-image-wrap" v-for="(img, index) in images">
          <div class="button-delete" @click="deleteImage(index)"></div>
          <img :src="img"  alt="">
        </div>
        <div class="upload-box" @click="handleSelectImage">
        </div>
      </div>
    </div>
    <div class="input-row supply-detail">
      <label for="Remark">备注</label>
      <textarea id="Remark" class="px-textarea" v-model="skill.Remark" placeholder="你希望他在下单时注意的一些事项"></textarea>
    </div>
  </form>
  <div class="fixed-bottom">
    <div class="btn-submit" :disabled="submiting" @click="onSubmit">发布</div>
  </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/api.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/add_edit_supply.js"></script>
</body>
</html>
