<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>发布我的动态</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/mysupply.css">
  <link rel="stylesheet" href="../css/edit_userinfo.css">
  <script src="../script/adapter.js"></script>
</head>
<body style="background: #f0f1f5;">
<div id="mainPage" class="wrapper">
  <my-header title="发布我的动态"></my-header>
  <section class="dynamic-detail">
    <textarea class="px-textarea fs28 text-666" v-model="dynamicContent" placeholder="请输入动态详情"></textarea>
  </section>
  <section class="dynamic-images display-flex">
    <div class="person-credentials-image-wrap" v-for="(img, index) in imgarr">
      <div class="button-delete" @click="deleteImage(index)"></div>
      <img :src="img" alt="">
    </div>
    <div class="upload-box" @click="onFileChange">
    </div>
  </section>
  <!--<div class="remind ac fs24">提示</div>-->
  <div class="fixed-bottom">
    <div class="btn-submit" @click="onSubmit">发布</div>
  </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>  
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/add_dynamic.js"></script>
</body>
</html>