<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>发布供应</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/mysupply.css">
  <link rel="stylesheet" href="../css/edit_userinfo.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="header-left">
      <span class="return-back"></span>
    </div>
    <div class="header-center">
      <span class="header-center-text">发布供应</span>
    </div>
    <div class="header-right"></div>
  </header>
  <form class="supply-form" action="">
    <div class="input-row">
      <label for="skillname">供应名称</label>
      <input id="skillname" type="text" v-model="skill.skillname" placeholder="填写或选择您可以赚钱的技能（10字内）">
    </div>
    <div class="input-row supply-detail">
      <label for="skilldetails">供应详情</label>
      <textarea class="px-textarea" id="skilldetails" v-model="skill.skilldetails" placeholder="对此技能的描述"></textarea>
    </div>
    <div class="input-row">
      <label for="skilltype">分类</label>
      <select id="skilltype" class="px-select" v-model="skill.skilltype">
        <option value="">请选择</option>
        <option value="">1991</option>
        <option value="">1992</option>
        <option value="">1993</option>
      </select>
    </div>
    <div class="input-row">
      <label for="servertime">有效时间</label>
      <select class="px-select" id="servertime" v-model="skill.servertime">
        <option value="">请选择时间</option>
      </select>
    </div>
    <div class="input-row">
      <label for="">地区</label>
      <span>请选择地区</span>
      <!--<select class="px-select" name="">-->
        <!--<option value="请选择地区"></option>-->
      <!--</select>-->
    </div>
    <div class="input-row">
      <label for="money">价格</label>
      <input id="money" type="text" v-model="skill.money" placeholder="请写合适的费用">
    </div>
    <div class="person-credentials">
      <div class="person-credentials-title">
        <span>附件</span>
        <span>作品、证书、自拍美照等（最多8张）</span>
      </div>
      <div class="person-credentials-list" v-cloak>
        <div class="person-credentials-image-wrap" v-for="(img, index) in images">
          <div class="button-delete"></div>
          <img :src="img"  alt="">
        </div>
        <div class="upload-box">
          <input type="file" accept="image/jpg,image/png" @change="onFileChange">
        </div>
      </div>
    </div>
    <div class="input-row supply-detail">
      <label for="Remark">备注</label>
      <textarea id="Remark" class="px-textarea" v-model="skill.Remark" placeholder="你希望他在下单时注意的一些事项"></textarea>
    </div>
  </form>
  <div class="fixed-bottom">
    <div class="btn-submit" @click="onSubmit">发布</div>
  </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>  
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/add_edit_supply.js"></script>
</body>
</html>