<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>发起订单</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/user_avatar.css">
  <link rel="stylesheet" href="../css/order_detail.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <my-header title="发起订单"></my-header>
  <user-box :user="userModel"></user-box>
  <div class="order-info bg-white" v-cloak>
    <div class="input-row">
      <span>邀约技能</span>
      <span>{{order.skillName}}</span>
    </div>
    <div class="input-row">
      <span>邀约时间</span>
      <input type="date" v-model="formData.yydate" placeholder="请选择邀约时间">
    </div>
    <div class="input-row">
      <span>邀约地点</span>
      <input type="text" v-model="formData.yyaddress" placeholder="请填写邀约地点"/>
    </div>
    <div class="input-row">
      <span>邀约价格</span>
      <span class="flex-1 ar">{{order.smoney}}</span>
      <span>元</span>
    </div>
  </div>
  <div class="fixed-bottom display-flex">
    <div class="btn-submit" @click="onSubmit">发起订单</div>
  </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/add_order.js"></script>
</body>
</html>