<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>在线咨询</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/share.css">
    <link rel="stylesheet" href="../css/chatroom.css">
    <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper" v-cloak>
    <my-header title="在线咨询"></my-header>
    <div class="wenxin-remind">温馨提示：消防担保交易会保障您的钱款安全，完成服务后再确认付款。非消防交易频发钱款诈骗行为，请小心谨慎。</div>
    <div class="messages-container">
        <!--<div class="msg-box left">-->
            <!--<div class="user-avatar">-->
                <!--<img src="../image/avatar_demo.png" alt="">-->
            <!--</div>-->
            <!--<div class="msg-content-wrap">-->
                <!--<div class="target-nickname">111</div>-->
                <!--<div class="msg-content">多岁的冯绍峰</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="msg-box right">-->
            <!--<div class="user-avatar">-->
                <!--<img src="../image/avatar_demo.png" alt="">-->
            <!--</div>-->
            <!--<div class="msg-content-wrap">-->
                <!--<div class="msg-content type-image">-->
                    <!--<img src="../image/home_banner.jpg" alt="">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <template v-for="(msg, index) in messages">
            <div class="message-date" v-if="isShowDate(msg, index)">
                <span>{{msg.receivedTime | date('yyyy-MM-dd hh:mm')}}</span>
            </div>
            <div v-if="msg.messageDirection == 'RECEIVE'" class="msg-box left">
                <div class="user-avatar">
                    <img :src="targetInfo.avatar" alt="">
                </div>
                <div class="msg-content-wrap">
                    <div class="target-nickname">{{targetInfo.nickname}}</div>
                    <div class="msg-content" v-html="transformMessage(msg.content.text)"></div>
                </div>
            </div>
            <!--<div class="msg-box left">-->
                <!--<div class="user-avatar">-->
                    <!--<img src="../image/avatar_demo.png" alt="">-->
                <!--</div>-->
                <!--<div class="msg-content-wrap">-->
                    <!--<div class="msg-content type-image">-->
                        <!--<img src="../image/icon_angle.png" alt="">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div v-else class="msg-box right">
                <div class="user-avatar">
                    <img :src="myInfo.avatar" alt="">
                </div>
                <div class="msg-content-wrap">
                    <div class="msg-content" v-html="transformMessage(msg.content.text)"></div>
                </div>
            </div>
        </template>

    </div>
    <!--<div class="fs24">-->
        <!--<p v-for="msg in receiveMessages" v-html="transformMessage(msg.content.text)"></p>-->
    <!--</div>-->
    <!--<div>{{userId}}</div>-->
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/chatroom.js">
</script>
</body>
</html>