<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>我的供应</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/mysupply.css">
    <link rel="stylesheet" href="../css/comment.css">
    <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
    <my-header title="评价"></my-header>
    <order-box v-if="order" :my-data="order"></order-box>
    <textarea id="commentContent" v-model="comment.describe" placeholder="请输入评价内容"></textarea>
    <div class="pingfen-wrap">
        <h3>评分</h3>
        <div class="pingfen-row display-flex" style="margin-top: 0.5rem;">
            <span class="pingfen-row-name">供应评分</span>
            <span class="display-flex">
                <i v-for="n in 5" :class="{bad: n > comment.jlpj, good: n <= comment.jlpj}" @click="selectGyScore(n)"></i>
            </span>
        </div>
        <div class="pingfen-row display-flex">
            <span class="pingfen-row-name">供应人评分</span>
            <span class="display-flex">
                <i v-for="n in 5" :class="{bad: n > comment.rpj, good: n <= comment.rpj}" @click="selectGpScore(n)"></i>
            </span>
        </div>
    </div>
    <div class="fixed-bottom">
        <div class="btn-submit" @click="onSubmit">提交</div>
    </div>
</div>
<!-- 0已关闭， 1审核中，2通过，3不通过 -->
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/comment.js"></script>
</body>
</html>