<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>需求详情</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/user_avatar.css">
  <link rel="stylesheet" href="../css/demand_detail.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
	<div class="wrapper">
		<my-header title="需求详情">
			<div class="fs24 white ac" slot="headerRight" @click="share">分享</div>
		</my-header>
		<user-box v-if="demandInfo" :user="demandInfo.Usermodel[0]">
			<a slot="userRtTop" class="location-byme fs24 text-999" href="javascript:">{{demandInfo.distance | number}}km</a>
			<div slot="userRtBottom"></div>
			<div slot="userLtBottom" class="demand-price fs24">愿付酬金：<span class="text-warning">{{demandInfo.dmoney}}</span>元/人 <span class="warrant">(酬金已担保)</span></div>
		</user-box>
		<div class="remand-detail bg-white container" v-if="demandInfo" v-cloak>
			<div class="row">
				<span class="row-label">他的需求</span>
				<span class="content">{{demandInfo.demandTitle}}</span>
			</div>
			<div class="row">
				<span class="row-label">需求人数</span>
				<span class="content">{{demandInfo.demandNum}}人</span>
				<span class="fs24 text-warning">已选{{demandInfo.yxnum}}人</span>
			</div>
			<div class="row">
				<span class="row-label">有效期限</span>
				<span class="content">{{demandInfo.effectiveTime | date('yyyy-MM-dd')}}</span>
			</div>
			<div class="row">
				<span class="row-label">截止日期</span>
				<span class="content">{{demandInfo.dtime | date('yyyy-MM-dd')}}</span>
			</div>
			<div class="row">
				<span class="row-label">邀约地点</span>
				<span class="content">{{demandInfo.S_province}} {{demandInfo.s_City}} {{demandInfo.s_distrct}}</span>
			</div>
			<div class="row">
				<span class="row-label">详情描述</span>
				<span class="content">{{demandInfo.ddetails}}</span>
			</div>
			<div class="row">
				<span class="row-label invited-number">{{demandInfo.yynum}}应邀</span>
			</div>
		</div>
		<div class="has-invited-person" v-if="demandInfo" v-cloak>
			<div v-for="item in demandInfo.XQInvitedmodel" @click="handlerClickConfirm(item)">
				<user-box :user="item.usermodel[0]">
					<div class="demand-price fs24" slot="userLtBottom">技能描述：{{item.skillms}}</div>
					<div class="user-info-rt" slot="userRtTop">
						<a class="location-byme fs24 text-999" href="javascript:">{{item.xqdistance | number}}km</a>
						<div class="confirm-button" :class="{selected: item.ystate == 2, wait: item.ystate == 1}">{{getStatusText(item)}}</div>
					</div>
					<div slot="userRtBottom"></div>
				</user-box>
			</div>
		</div>
		<div class="fixed-bottom deman-detail-bottom display-flex" v-if="inviteButtonVisible">
			<div class="button-chat" @click="goChat">聊一聊</div>
			<div class="button-invite" v-if="demandInfo.ifstate != 1" @click="goInvite">应邀</div>
			<!--<div class="button-invite-noname" @click="goInviteNoname">匿名应邀</div>-->
		</div>
		<div class="fixed-bottom" v-if="buttonVisible">
			<div class="btn-submit" v-if="demandInfo.orderState == 1" @click="toPay">立即支付</div>
			<div class="btn-submit" v-else-if="!isMe && demandInfo.orderState == 4" @click="handlerComplete">供应完成</div>
			<div class="btn-submit" v-else-if="isMe && demandInfo.orderState == 5" @click="handlerClickDemandComplete">需求完成</div>
			<div class="btn-submit" v-else-if="demandInfo.orderState == 5 || demandInfo.orderState == 4" @click="handlerCancelOrder">取消订单</div>
			<div class="btn-submit" v-else-if="demandInfo.orderState == 7 || demandInfo.orderState == 7" disabled>订单已完成</div>
			<div class="btn-submit" v-else-if="demandInfo.orderState == 8" disabled>订单已关闭</div>
		</div>
		<div class="mask" v-show="showDialog" v-if="demandInfo" v-cloak>
			<div class="yy-dialog">
				<div class="dialog-head">
					<div>
						<span class="text-black">{{userModel.pnickname}}</span>
						需求拥有<span class="text-warning">{{demandInfo.demandTitle}}</span>技能的人
					</div>
				</div>
				<div class="dialog-content">
					<div class="user-center-top display-flex" v-cloak>
						<div class="user-info" v-if="userModel && demandInfo">
							<div class="user-avatar" :style="userModel.avatarStyle"></div>
							<div class="user-info-tj">
								<div class="user-name"><span class="vam">{{userModel.pnickname}}</span><span class="user-sex user-sex-man vam"></span></div>
								<div class="online-status">在线</div>
								<div class="demand-price fs24">愿付酬金：<span class="text-warning">{{demandInfo.dmoney}}</span>元/人 <span class="warrant">(酬金已担保)</span></div>
							</div>
						</div>
						<div class="user-info-rt">
							<a class="location-byme fs24 text-999" href="javascript:">{{demandInfo.distance | number}}km</a>
						</div>
					</div>
					<div class="dialog-demand-content">
						<div class="row">
							<span class="row-label">有效期限</span>
							<span class="content">{{demandInfo.effectiveTime}}</span>
						</div>
						<div class="row">
							<span class="row-label">截止日期</span>
							<span class="content">{{demandInfo.dtime | date('yyyy-MM-dd')}}</span>
						</div>
						<div class="row" style="border-bottom: none;">
							<span class="row-label">邀约地点</span>
							<span class="content">{{demandInfo.S_province}} {{demandInfo.s_City}} {{demandInfo.s_distrct}}</span>
						</div>
						<textarea id="describe" v-model="describe" placeholder="相信填写您的技能优势，增加您的应邀成功率"></textarea>
					</div>
					<div class="dialog-buttons display-flex">
						<div class="btn-cancel" @click="onClickCancel">取消</div>
						<div class="btn-ok" @click="onClickSubmit">确定</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../script/lib/jquery-3.1.1.min.js"></script>
	<script src="../script/lib/lodash.js"></script>
	<script src="../script/lib/vue.min.js"></script>
	<script src="../script/helper.js"></script>
	<script src="../script/page/demand_detail.js"></script>
</body>
</html>
