<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>基本信息</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/login_regist.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <my-header title="基本信息"></my-header>
  <div class="upload-avatar ac">
  	<div class="upload-icon">
     <input type="file" accept="image/jpg,image/png" @change="onUpload"> 
     <img v-if="avatarImg" v-bind:src="avatarImg" alt="">
    </div>
  	<div class="upload-text">上传头像</div>
  </div>
  <div class="container bg-white">
    <div class="input-row">
      <label for="pnkname">昵称</label>
      <input id="pnkname" type="text" v-model="userInfo.pnkname" maxlength="11" placeholder="请输入昵称">
    </div>
    <div class="input-row">
      <label for="age">年龄</label>
      <div class="input-row-with-code">
        <input id="age" type="number" v-model.number="userInfo.age" placeholder="请输入年龄">
      </div>
    </div>
  </div>
  <div class="display-flex select-sex">
  	<span class="select-sex__woman" v-bind:class="{checked: userInfo.sex === '女'}" @click="selectSex('女')"> 
  		<span class="icon"></span>女</span>
  	<span class="select-sex__man" v-bind:class="{checked: userInfo.sex === '男'}" @click="selectSex('男')">
      <span class="icon"></span>男
    </span>
  </div>
  <div class="btn-submit btn-complete ac" @click="onSubmit">完成</div>
  <script src="../script/api.js"></script>
  <script src="../script/lib/jquery-3.1.1.min.js"></script>  
  <script src="../script/lib/lodash.js"></script>
  <script src="../script/lib/vue.min.js"></script>
  <script src="../script/helper.js"></script>
  <script src="../script/page/edit_basicinfo.js"></script>
</div>
</body>
</html>