<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>编辑我的资料</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/edit_userinfo.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div id="mainPage" class="wrapper" v-cloak>
  <my-header title="编辑我的资料"></my-header>
  <form id="userInfoForm" action="">
    <div class="input-row">
      <label for="">昵称</label>
      <input type="text" v-model="userInfo.pnckname" placeholder="请输入">
    </div>
    <div class="input-row">
      <label>性别</label>
      <div class="px-radio-group">
        <div class="px-radio">
          <input name="sex" type="radio" value="男" v-model="userInfo.sex">
          <div class="px-radio-style"></div>
          <label>男</label>
        </div>
        <div class="px-radio">
          <input name="sex" type="radio" value="女" v-model="userInfo.sex">
          <div class="px-radio-style"></div>
          <label>女</label>
        </div>
      </div>
    </div>
    <!--<div class="input-row">-->
      <!--<label for="">出生日期</label>-->
      <!--<input type="date" v-model="userInfo.birthDate" placeholder="请选择">-->
    <!--</div>-->
    <div class="input-row">
      <label for="">年龄</label>
      <input type="text" v-model="userInfo.age" placeholder="请输入年龄">
    </div>
    <div class="input-row">
      <label for="">故乡</label>
      <input type="text" v-model="homeZone" @click="selectZone('home')" readonly>
    </div>
    <div class="input-row">
      <label for="">所在地</label>
      <input type="text" v-model="nowZone" @click="selectZone('now')" readonly>
    </div>
    <div class="input-row">
      <label for="">联系手机</label>
      <input type="number" maxlength="11" v-model="userInfo.phoneNumber" placeholder="请输入手机号">
    </div>
    <div class="input-row">
      <label for="">电子邮箱</label>
      <input type="email" v-model="userInfo.email" placeholder="请输入电子邮箱">
    </div>
    <div class="input-row">
      <label for="">毕业院校</label>
      <input type="text" v-model="userInfo.graduateSchool" placeholder="请填写毕业院校">
    </div>
    <div class="input-row">
      <label for="">学历</label>
      <select  v-model="userInfo.education" placeholder="请填写学历">
        <option value="博士研究生">博士研究生</option>
        <option value="硕士研究生">硕士研究生</option>
        <option value="本科">本科</option>
        <option value="专科">专科</option>
        <option value="高中">高中</option>
        <option value="初中">初中</option>
        <option value="小学">小学</option>
      </select>
    </div>
    <div class="input-row">
      <label for="">职业</label>
      <input type="text" v-model="userInfo.occupation" placeholder="请填写职业">
    </div>
    <div class="input-row">
      <label for="">公司</label>
      <input type="text" v-model="userInfo.company" placeholder="请填写公司名称">
    </div>
    <div class="input-row">
      <label for="">个人资质</label>
      <input type="text" class="flex-1" v-model="userInfo.pQualifications" placeholder="请选择个人资质" readonly @click="selectQualifications"/>
    </div>
    <div class="input-row">
      <label for="">擅长技能</label>
      <select class="px-select" v-model="userInfo.Skill">
        <option value="消防设计">消防设计</option>
        <option value="消防施工">消防施工</option>
        <option value="消防产品">消防产品</option>
      </select>
    </div>
    <div class="input-row">
      <label for="">个人荣誉</label>
      <input type="text" v-model="userInfo.pHonor" max-length="100" placeholder="请填写个人荣誉">
    </div>
    <div class="input-row">
      <label for="">空闲时间</label>
      <select class="px-select" v-model="userInfo.freeTime">
        <option value="晚上">晚上</option>
        <option value="周末">周末</option>
        <option value="随时">随时</option>
        <option value="不定">不定</option>
      </select>
    </div>
    <div class="input-row">
      <label for="">个人主页</label>
      <input type="text" v-model="userInfo.phomepage" placeholder="请填写">
    </div>
    <div class="input-row">
      <label for="">个性签名</label>
      <input type="text" v-model="userInfo.pautograph" placeholder="请填写签名">
    </div>
  </form>
  <div class="fixed-bottom">
    <div class="btn-submit" @click="onSubmit">提交</div>
  </div>
</div>
  <script src="../script/lib/jquery-3.1.1.min.js"></script>  
  <script src="../script/lib/lodash.js"></script>
  <script src="../script/lib/vue.min.js"></script>
  <script src="../script/helper.js"></script>
  <script src="../script/page/edit_userinfo.js"></script>
</body>
</html>