<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>修改密码</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/morefunc.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="header-left">
      <span class="return-back"></span>
    </div>
    <div class="header-center">
      <span class="header-center-text">修改密码</span>
    </div>
    <div class="header-right">
    </div>
  </header>
  <div id="editPasswordForm" class="container bg-white">
    <div class="input-row">
      <label for="usedpwd">旧密码</label>
      <input id="usedpwd" type="text" v-model="usedpwd" placeholder="请输入旧密码">
    </div>
    <div class="input-row">
      <label for="newpwd">新密码</label>
      <input type="text" id="newpwd" v-model="newpwd" placeholder="请输入新密码">
    </div>
    <div class="input-row">
      <label for="qrpwd">重置新密码</label>
      <input id="qrpwd" type="text" v-model="qrpwd" placeholder="请再次输入新密码">
    </div>
  </div>
  <div id="buttonSubmit" class="btn-submit ac" @click="onSubmit">确定</div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/edit_password.js"></script>
</body>
</html>