<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>编辑我的资料</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/edit_userinfo.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div id="mainPage" class="wrapper" v-cloak>
  <my-header title="编辑我的资料"></my-header>
  <form id="userInfoForm" action="">
    <div class="input-row">
      <label for="">昵称</label>
      <input type="text" v-model="userInfo.nickname" placeholder="请输入">
    </div>
    <div class="input-row">
      <label>性别</label>
      <div class="px-radio-group">
        <div class="px-radio">
          <input name="sex" type="radio" value="男" v-model="userInfo.sex">
          <div class="px-radio-style"></div>
          <label>男</label>
        </div>
        <div class="px-radio">
          <input name="sex" type="radio" value="女" v-model="userInfo.sex">
          <div class="px-radio-style"></div>
          <label>女</label>
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="">出生日期</label>
      <select class="px-select" v-model="userInfo.birthDate" placeholder="请选择">
        <option value="1991">1991</option>
        <option value="1992">1992</option>
        <option value="1993">1993</option>
      </select>
    </div>
    <div class="input-row">
      <label for="">年龄</label>
      <input type="text" v-model="userInfo.age" placeholder="请输入年龄">
    </div>
    <div class="input-row">
      <label for="">故乡</label>
      <select class="px-select" name="">
        <option value="请选择故乡"></option>
      </select>
    </div>
    <div class="input-row">
      <label for="">所在地</label>
      <select class="px-select" name="" placeholder="请选择您的所在地">
        <option value="请选择您的所在地"></option>
      </select>
    </div>
    <div class="input-row">
      <label for="">联系手机</label>
      <input type="text" v-model="userInfo.phoneNumber" placeholder="请输入手机号">
    </div>
    <div class="input-row">
      <label for="">电子邮箱</label>
      <input type="text" v-model="userInfo.email" placeholder="请输入电子邮箱">
    </div>
    <div class="input-row">
      <label for="">毕业院校</label>
      <input type="text" v-model="userInfo.graduateSchool" placeholder="请填写毕业院校">
    </div>
    <div class="input-row">
      <label for="">学历</label>
      <input type="text" v-model="userInfo.education" placeholder="请填写学历">
    </div>
    <div class="input-row">
      <label for="">职业</label>
      <input type="text" v-model="userInfo.occupation" placeholder="请填写职业">
    </div>
    <div class="input-row">
      <label for="">公司</label>
      <input type="text" v-model="userInfo.company" placeholder="请填写公司名称">
    </div>
    <div class="person-credentials">
      <div class="person-credentials-title">
        <span>个人资质</span>
        <span>个人资质（最多8张）</span>
      </div>
      <div class="person-credentials-list">
        <div class="person-credentials-image-wrap" v-for="(img, index) in userInfo.pQualifications">
          <div class="button-delete"></div>
          <img :src="img" alt="">
        </div>
        <div class="upload-box">
          <input type="file">
        </div>
      </div>
    </div>
    <div class="input-row">
      <label for="">擅长技能</label>
      <input type="text" v-model="userInfo.Skill" placeholder="请填写擅长的技能">
    </div>
    <div class="input-row">
      <label for="">空闲时间</label>
      <input type="text" v-model="userInfo.freeTime" placeholder="请选择时间">
    </div>
    <div class="input-row">
      <label for="">个人主页</label>
      <input type="text" v-model="userInfo.phomepage" placeholder="请填写">
    </div>
    <div class="input-row">
      <label for="">个性签名</label>
      <input type="text" v-model="userInfo.pautograph" placeholder="请填写签名">
    </div>
  </form>
  <div class="btn-submit" @click="onSubmit">提交</div>
</div>
  <script src="../script/lib/jquery-3.1.1.min.js"></script>  
  <script src="../script/lib/lodash.js"></script>
  <script src="../script/lib/vue.min.js"></script>
  <script src="../script/helper.js"></script>
  <script src="../script/page/edit_userinfo.js"></script>
</body>
</html>