<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>找回密码</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/login_regist.css">
  <link rel="stylesheet" href="../css/password.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <my-header title="找回密码"></my-header>
  <div id="findPasswordForm" class="container bg-white">
    <div class="find-password-step-1" v-if="step === 1">
      <div class="input-row">
        <label for="zhpwd">手机号</label>
        <input type="number" id="zhpwd" v-model="zhpwd" maxlength="11" placeholder="请输入与某某绑定的手机号">
      </div>
    </div>
    <div class="find-password-step-2" v-if="step === 2" v-cloak>
      <div class="input-row">
        <label for="ms">验证码</label>
        <div class="input-row-with-code">
          <input id="ms" type="number" maxlength="4" v-model="ms" placeholder="请输入收到的验证码">
          <get-msm-button v-bind:phone="zhpwd" v-on:send-success="getSmsSuccess"></get-msm-button>
        </div>
      </div>
    </div>
    <div class="find-password-success" v-if="step === 3" v-cloak>
      <div class="icon-success"></div>
      <div>
        <div class="success-text"><strong>成功找回密码!</strong></div>
        <div class="fs24 text-666" style="width: 6rem;">{{restext}}</div>
        <!--<div class="fs24 text-666">请登录并修改密码</div>-->
      </div>
    </div>
  </div>
  <div class="verify-warn" v-cloak v-show="sended">验证码已发送到{{zhpwd}}，请注意查收</div>
  <div class="btn-submit ac" @click="onSubmit" v-cloak>{{buttonText}}</div>
  <script src="../script/lib/jquery-3.1.1.min.js"></script>
  <script src="../script/lib/lodash.js"></script>
  <script src="../script/lib/vue.min.js"></script>
  <script src="../script/helper.js"></script>
  <script src="../script/components/GetMsm.js"></script>
  <script src="../script/page/find_password.js"></script>
</div>
</body>
</html>
