<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="format-detection" content="telephone=no"/>
  <title>首页</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/swiper-3.4.1.min.css">
  <link rel="stylesheet" href="../css/fixedsticky.css">
  <link rel="stylesheet" href="../css/user_avatar.css">
  <link rel="stylesheet" href="../css/home.css">
  <script src="../script/adapter.js"></script>
</head>
<body style="background: #fff;">
<div id="mainPage" class="main-wrap fixed-supported">
  <div class="top-banner">
    <div class="logo"></div>
    <div class="weather" v-cloak>
      <div><strong>{{temperature}}℃</strong>{{weatherText}}</div>
      <div class="ar">空气良</div>
    </div>
  </div>
  <div class="top-banner-bottom fixedsticky">
    <div class="select-location fs24 white">
      <span>{{city}}</span>
    </div>
    <div class="search-box ac" @click="onClickSearchButton">
      <span class="icon-search"></span>
      <span>请输入您要查询的内容</span>
    </div>
    <div class="top-banner-bottom__right">
      <div class="message-tip" @click="goViewMessage">
        <div class="message-tip-number" v-if="messageCount > 0"><i v-cloak>{{messageCount}}</i></div>
      </div>
    </div>
  </div>
  <div class="production-classify ac">
    <div class="production-classify-item" @click="onClickType('消防设计')">
      <div class="production-classify-icon"></div>
      <div>消防设计</div>
    </div>
    <div class="production-classify-item" @click="onClickType('消防施工')">
      <div class="production-classify-icon"></div>
      <div>消防施工</div>
    </div>
    <div class="production-classify-item" @click="onClickType('消防产品')">
      <div class="production-classify-icon"></div>
      <div>消防产品</div>
    </div>
  </div>
  <div id="swiper" class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../image/home_banner.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../image/home_banner.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="../image/home_banner.jpg" alt="">
      </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
  </div>
  <div class="tab">
    <div class="tab-header">
      <span v-bind:class="{current: currentTab === 'demand'}" @click="onClickTabHead('demand')">需求</span>
      <span v-bind:class="{current: currentTab === 'supply'}" @click="onClickTabHead('supply')">供应</span>
      <select class="sort-select" v-model="zState">
        <option value="1">最新</option>
        <option value="2">附近</option>
      </select>
    </div>
    <div class="tab-content" v-cloak>
      <div class="remand-list" v-show="currentTab === 'demand'">
        <ul>
          <li v-for="item in demandList" @click="viewDemandDetail(item)">
            <a class="display-flex">
              <div class="user-info">
                <div class="user-avatar-wrap" @click.stop="viewUserHomepage(item.Usermodel[0])">
                  <img class="user-avatar" v-bind:src="item.Usermodel[0].pheadimgUrl" alt="">
                  <div class="p-tag">需求</div>
                </div>
                <user-roles :role="item.levle"></user-roles>
                <!--<user-good-level :good-level="item.Usermodel[0].evaluate"></user-good-level>-->
                <div class="publish-number">发布数量:<span class="text-blue">{{item.fbnum}}</span>条</div>
              </div>
              <div class="remand-info">
                <div class="remand-info__title">
                  他的需求：<span class="text-black">{{item.demandTitle}}</span></div>
                <div class="remand-info__price">金额：
                  <span v-if="item.dmoney > 0"><strong class="text-warning">{{item.dmoney}}</strong>元/套/天</span>
                  <span v-else class="text-warning">面议</span>
                </div>
                <div class="remand-info__persons">数量：<strong class="text-warning">{{item.demandNum}}</strong></div>
                <div class="remand-info__detail">
                  需求详情：{{item.ddetails}}
                </div>
                <div class="remand-info__other">
                  <div class="user-name">{{item.Usermodel[0].pnickname}}</div>
                  <div class="user-location">{{item.distance | number}}km</div>
                  <!-- <div class="invite-number flex-1 ar"><span class="icon-check-ok"></span>30应邀</div> -->
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="remand-list" v-show="currentTab === 'supply'">
        <ul>
          <li v-for="item in supplyList" @click.prevent="viewSupplyDetail(item)">
            <a class="display-flex">
              <div class="user-info">
                <div class="user-avatar-wrap" @click.stop="viewUserHomepage(item.sUsermodel[0])">
                  <img class="user-avatar" v-bind:src="item.sUsermodel[0].pheadimgUrl" alt="">
                  <div class="p-tag supply">供应</div>
                </div>
                <user-roles :role="item.slevel"></user-roles>
                <!--<user-good-level :good-level="item.sUsermodel[0].evaluate"></user-good-level>-->
                <div class="publish-number">发布数量:<span class="text-blue">{{item.sfbnum}}</span>条</div>
              </div>
              <div class="remand-info">
                <div class="remand-info__title">
                  他的供应：<span class="text-black">{{item.skillName}}</span></div>
                <div class="remand-info__price">价格：
                  <span v-if="item.smoney > 0"><strong class="text-warning">{{item.smoney}}</strong>元</span>
                  <span v-else class="text-warning">面议</span>
                </div>
                <div class="remand-info__persons">截止时间：<span class="text-warning" style="font-size: 0.8rem;">{{item.servertime | date('yyyy-MM-dd')}}</span></div>
                <div class="remand-info__detail">
                  供应详情：{{item.skilldetails}}
                </div>
                <div class="remand-info__other">
                  <div class="user-name">{{item.sUsermodel[0].pnickname}}</div>
                  <div class="user-location">{{item.distance | number}}km</div>
                  <!-- <div class="invite-number flex-1 ar"><span class="icon-check-ok"></span>30应邀</div> -->
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="remand-list" v-show="currentTab === 'nearby'">
        <ul>
          <li v-for="item in nearByList" @click="viewDemandDetail(item)">
            <a class="display-flex">
              <div class="user-info">
                <div class="user-avatar-wrap" @click.stop="viewUserHomepage(item.Usermodel[0])">
                  <img class="user-avatar" :src="item.Usermodel[0].pheadimgUrl" alt="">
                  <div class="p-tag">需求</div>
                </div>
                <user-roles :role="item.level"></user-roles>
                <user-good-level :good-level="item.Usermodel[0].evaluate"></user-good-level>
                <div class="publish-number">发布数量:<span class="text-blue">{{item.fbnum}}</span>条</div>
              </div>
              <div class="remand-info">
                <div class="remand-info__title">
                  他的需求：<span class="text-black">{{item.demandTitle}}</span></div>
                <div class="remand-info__price">愿付酬金：<strong class="text-warning">{{item.dmoney}}</strong>元/套/天（酬金已担保）</div>
                <div class="remand-info__persons">需求人数：<strong class="text-warning">{{item.demandNum}}</strong>人</div>
                <div class="remand-info__detail">
                  需求详情：{{item.ddetails}}
                </div>
                <div class="remand-info__other">
                  <div class="user-name">{{item.Usermodel[0].pnickname}}</div>
                  <div class="user-location">{{item.distance | number}}km</div>
                  <!-- <div class="invite-number flex-1 ar"><span class="icon-check-ok"></span>30应邀</div> -->
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/lib/swiper-3.4.1.jquery.min.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/lib/fixedsticky.js"></script>
<script src="../script/page/home.js"></script>
<script>
  setTimeout(function() {
    $('.top-banner-bottom').fixedsticky();
  }, 2000);
</script>
</body>
</html>
