<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>登录</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/login_regist.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
  <div id="mainPage" class="wrapper">
    <header class="header">
      <div class="header-left">
        <span class="return-back"></span>
      </div>
      <div class="header-center">
        <span class="header-center-text">登录</span>
      </div>
      <div class="header-right"></div>
    </header>
    <div class="login-form bg-white">
      <div class="login-form-input">
        <input class="login-form__username" v-model="phone" type="text" placeholder="请输入用户名">
        <input class="login-form__password" v-model="pwd" type="password" placeholder="请输入密码">
      </div>
      <div class="login-form__submit-button" @click="onSubmit">{{submitButtonText}}</div>
      <div class="login-form__forget-pass" @click="forgetPassword">忘记密码</div>
    </div>
    <div class="regist-button" @click="toRegist">注册新用户</div>
    <div class="login-by-weixin" @click="loginByWx"></div>
  </div>
  <script src="../script/lib/jquery-3.1.1.min.js"></script>  
  <script src="../script/lib/lodash.js"></script>
  <script src="../script/lib/vue.min.js"></script>
  <script src="../script/helper.js"></script>
  <script src="../script/page/login.js"></script>
</body>
</html>