<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>我的消息</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/message.css">
    <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
    <my-header title="我的消息"></my-header>
    <div class="message-list bg-white" v-cloak>
        <ul>
            <li v-for="item in list" @touchstart="onClickMessage(item)" tapmode="hover">
                <div class="message-list-item" v-if="item.targetId === uid">
                    <div class="message-list-item__avatar">
                        <img :src="item.latestMessage.extra.sender.avatar" alt="">
                    </div>
                    <div class="message-list-item__info">
                        <div class="message-list-item__title">
                            {{item.latestMessage.extra.sender.nickname}}
                        </div>
                        <div class="message-list-item__content text-overflow-es">{{item.latestMessage.text}}</div>
                    </div>
                    <div class="message-list-item__otherinfo">
                        <div class="message-list-item__date">
                            {{item.receivedTime | date('yyyy-MM-dd hh:mm:ss')}}
                        </div>
                        <div class="unread-number">4</div>
                    </div>
                </div>
                <div class="message-list-item" v-else>
                    <div class="message-list-item__avatar">
                        <img :src="item.latestMessage.extra.receiver.avatar" alt="">
                    </div>
                    <div class="message-list-item__info">
                        <div class="message-list-item__title">
                            {{item.latestMessage.extra.receiver.nickname}}
                        </div>
                        <div class="message-list-item__content text-overflow-es">{{item.latestMessage.text}}</div>
                    </div>
                    <div class="message-list-item__otherinfo">
                        <div class="message-list-item__date">
                            {{item.receivedTime | date('yyyy-MM-dd hh:mm:ss')}}
                        </div>
                        <div class="unread-number">5</div>
                    </div>
                </div>
            </li>
            <li @click="goNotice">
                <div class="message-list-item">
                    <div class="message-list-item__avatar notice">
                        <span class="has-new-notice" v-if="!hasNoReadNotice"></span>
                    </div>
                    <div class="message-list-item__info" v-if="notice">
                        <div class="message-list-item__title">
                            系统通知
                        </div>
                        <div class="message-list-item__content text-overflow-es">
                            {{notice.noticecontent}}
                        </div>
                    </div>
                    <div class="message-list-item__otherinfo">
                        <div class="message-list-item__date">
                            {{notice.noticetime | date('yyyy-MM-dd hh:mm:ss')}}
                        </div>
                        <div class="unread-number">12</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/message.js"></script>
</body>
</html>