<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>收藏的技能</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/mysupply.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="header-left">
      <span class="return-back"></span>
    </div>
    <div class="header-center">
      <div class="header-center-text">收藏的技能</div>
    </div>
    <div class="header-right">
      <span class="fs24 white"></span>
    </div>
  </header>
  <div class="supply-list" v-cloak>
    <div class="none-text" v-if="list.length === 0">你还没有收藏技能~</div>
    <ul v-else>
      <li class="supply-list-item" v-for="item in list">
        <div class="supply-list-item__left">
          <img src="" alt="">
        </div>
        <div class="supply-list-item__right">
          <div class="supply-list-item__param">
            供应名称：<span class="text-black">消防设备安装</span>
          </div>
          <div class="supply-list-item__param">
            供应价格：<span class="text-warning">5</span>元
          </div>
          <div class="supply-list-item__param">
            供应状态：<span class="supply-status">被关闭</span>
          </div>
          <div class="supply-item-desc">描述：3层楼需要安装消防设备，共20套消防设备3层楼需要安装消防设备，共有20套消描述：3层楼需要安装消防设备20套消</div>
        </div>
      </li>
    </ul>
  </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/page/mybook.js"></script>
</body>
</html>