<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>我的动态</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/mysupply.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <my-header :title="title"></my-header>
  <div class="supply-list" v-cloak>
    <ul v-if="list.length > 0">
      <li class="supply-list-item" v-for="item in list" @click="viewDetail(item)">
        <div class="supply-list-item__left">
          <img :src="item.Usermodel[0].pheadimgUrl" alt="">
        </div>
        <div class="supply-list-item__right">
          <div class="button-edit" v-if="!otherId" @click.stop="onClickDelete(item)">删除</div>
          <div class="supply-list-item__param">
            用户：<span class="text-black">{{item.Usermodel[0].pnickname}}</span>
          </div>
          <div class="supply-item-desc">内容：{{item.dynamicContent}}</div>
          <div class="supply-item-images">
            <img v-for="img in item.DynamicImgmodel" :src="img.imgurl" alt="">
          </div>
          <div class="dynamic-handle display-flex fs24 text-666">
            <div class="dynamic-handle-good-share">
              <span class="zan">点赞数：{{item.dznum}}</span>
              <!-- <span class="share">分享</span> -->
            </div>
            <div class="button-commnet">评论数:{{item.plnum}}</div>
          </div>
        </div>
      </li>
    </ul>
    <div class="none-text" v-else v-cloak>你还没有发表动态哦~</div>
  </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/api.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/mydynamics.js"></script>
</body>
</html>