<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>我的好友</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/user_avatar.css">
  <style type="text/css">
    .my-friends .user-center-top {
      border-bottom: 1px solid #ddd;
    }
  </style>
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <my-header title="我的好友"></my-header>
  <div class="my-friends" v-cloak>
    <user-box v-for="item in list" :user="item.usermodel[0]"></user-box>
    <div class="none-text" v-if="list.length === 0">暂时没有好友~</div>
  </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/api.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/myfriends.js"></script>
</body>
</html>