<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>我的供应</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/mysupply.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="header-left">
      <span class="return-back"></span>
    </div>
    <div class="header-center">
      <span class="header-center-text">我的供应</span>
    </div>
    <div class="header-right">
      <span class="fs24 white">等级特权</span>
    </div>
  </header>
  <div class="supply-list">
    <div class="none-text" v-if="list.length === 0" v-cloak>暂时没有应邀~</div>
    <ul v-else>
      <list-item v-for="item in list" :my-data="item"></list-item>
    </ul>
  </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/page/mysupply.js"></script>
</body>
</html>