<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>专家咨询</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/professor.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="header-left">
      <!--<span class="return-back"></span>-->
    </div>
    <div class="header-center">
      <span class="header-center-text">专家咨询</span>
    </div>
    <div class="header-right"></div>
  </header>
  <div class="professor-part">
    <div class="display-flex">
      <h4>专家排期</h4>
      <span class="button-more-professor text-666" @click="viewMoreProfessor">更多</span>
    </div>
    <div class="professors" v-cloak>
      <div v-for="item in freeProfessors" @click="viewProfessorDetail(item)">
        <professor-box  :professor="item"></professor-box>
      </div>
    </div>
  </div>
  <div class="professor-part great-professor">
    <h4>资深专家</h4>
    <div class="professors">
      <div v-for="item in bestProfessors" @click="viewProfessorDetail(item)">
        <professor-box  :professor="item"></professor-box>
      </div>
    </div>
  </div>
  <div class="consult-list newest" v-cloak>
    <div class="consult-list-head display-flex">
      <h4>最新咨询</h4>
      <span class="fs24 text-666" @click="viewMoreQuestion">更多</span>
    </div>
    <ul>
      <li v-for="q in newQuestions" @click="viewQuestionDetail(q)">{{q.twtitle}}</li>
    </ul>
  </div>
  <div class="consult-list" v-cloak>
    <div class="consult-list-head display-flex">
      <h4>热门咨询</h4>
      <span class="fs24 text-666" @click="viewMoreQuestion">更多</span>
    </div>
    <ul>
      <li v-for="q in hotQuestions" @click="viewQuestionDetail(q)">{{q.twtitle}}</li>
    </ul>
  </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/professor_question.js"></script>
</body>
</html>