<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>专家咨询</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/question_detail.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <my-header title="咨询详情"></my-header>
  <section class="question" v-cloak v-if="question">
    <div class="question-tag"><span>问题</span></div>
    <h3 class="question-title">{{question.twtitle}}</h3>
    <div class="question-info">
      <span class="question-date">{{question.twtime | date('yyyy-MM-dd')}}</span>
      <span class="question-publisher">{{question.usermodel[0].pnickname}}</span>
    </div>
    <div class="question-content">{{question.twcontent}}</div>
    <div class="is-focus" :class="{yes: isFocus}">
      <span @click="onFocus">
        <i class="icon-love"></i>
        {{focusText}}
      </span>
    </div>
  </section>
  <section class="question-comment-list bg-white" v-cloak v-if="expertTWHDmodel">
    <div class="question-comment-item" v-for="item in expertTWHDmodel">
      <div class="question-comment-item__left">
        <img :src="item.usermodel[0].pheadimgUrl" alt="">
      </div>
      <div class="question-comment-item__right">
        <div class="user-name">{{item.usermodel[0].pnickname}}</div>
        <div class="comment-date">{{item.hdtime | date('yyyy-MM-dd')}}</div>
        <div class="comment-content fs24">
          {{item.hdcontent}}
        </div>
      </div>
    </div>
  </section>
  <div class="relate-question-wrap container bg-white" v-if="relateQuestion" v-cloak>
    <h3>相关问题</h3>
    <div class="relate-question" v-for="item in relateQuestion" @click="viewQuestion(item)">
      {{item.twtitle}}
    </div>
  </div>
  <div class="fixed-bottom send-comment">
    <input class="send-comment-input" type="text" v-model="commentContent" placeholder="回答问题">
    <div class="btn-send" @click="sendComment" :disabled="commentContent.length === 0">发送</div>
  </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/question_detail.js"></script>
</body>
</html>