<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>问题列表</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/questions.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <template>
    <my-header :title="pageTitle" v-if="isOnlyMy"></my-header>
    <my-header :title="pageTitle" v-else>
      <div slot="headerLeft"></div>
      <div slot="headerRight" v-cloak>
        <span @click="toQues">我的咨询</span>
      </div>
    </my-header>
  </template>
  <template v-cloak>
    <div v-if="!isOnlyMy">
      <!-- <div class="question-section" v-cloak>
        <h2>我的问题</h2>
        <ul class="question-list fs28" v-cloak>
          <li v-for="item in userQslist" @click="goQuestionDetail(item)">
            <div class="question-title text-overflow-es flex-1">{{item.twtitle}}</div>
            <div class="answer-status" v-if="item.jdstate == 1">待解答</div>
            <div class="answer-status answered" v-if="item.jdstate == 2">已解答</div>
            <div class="answer-status professor" v-if="item.jdstate == 3">已解答</div>
          </li>
        </ul>
        <div v-if="userQslist.length === 0" class="nonedata">您还没有提交问题哦~</div>
      </div> -->
      <div class="question-section">
        <!-- <h2>其它问题</h2> -->
        <ul class="question-list fs28">
          <li v-for="item in list" @click="goQuestionDetail(item)">
            <div class="question-title text-overflow-es flex-1">{{item.twtitle}}</div>
            <div class="answer-status" v-if="item.jdstate == 1">待解答</div>
            <div class="answer-status answered" v-if="item.jdstate == 2">已解答</div>
            <div class="answer-status professor" v-if="item.jdstate == 3">已解答</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="container" v-else>
      <ul class="question-list fs28">
        <li v-for="item in userQslist" @click="goQuestionDetail(item)">
          <div class="question-title text-overflow-es flex-1">{{item.twtitle}}</div>
          <div class="answer-status" v-if="item.jdstate == 1">待解答</div>
          <div class="answer-status answered" v-if="item.jdstate == 2">已解答</div>
          <div class="answer-status professor" v-if="item.jdstate == 3">已解答</div>
        </li>
      </ul>
      <div v-cloak v-if="userQslist.length === 0" class="nonedata">您还没有提交问题哦~</div>
      <div class="fixed-bottom">
        <div class="btn-submit" @click="toAdd">咨询</div>
      </div>
    </div>
  </template>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/api.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/question.js"></script>
</body>
</html>