<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>问题列表</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/questions.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <my-header title="咨询列表"></my-header>
  <section class="container" v-cloak>
    <ul class="question-list fs28">
      <li v-for="item in list" @click="goQuestionDetail(item)">
        <div class="question-title text-overflow-es flex-1">{{item.twtitle}}</div>
        <div class="answer-status" v-if="item.State === 2">待解答</div>
        <div class="answer-status answered" v-if="item.State === 1">已解答</div>
      </li>
    </ul>
  </section>
  <div class="fixed-bottom">
    <div class="btn-submit" @click="toAdd">咨询</div>
  </div>
</div>
<script src="../script/lib/jquery-3.1.1.min.js"></script>
<script src="../script/lib/lodash.js"></script>
<script src="../script/lib/vue.min.js"></script>
<script src="../script/helper.js"></script>
<script src="../script/page/question.js"></script>
</body>
</html>