<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>注册</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/login_regist.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
<div class="wrapper">
  <my-header title="注册"></my-header>
  <div class="container bg-white">
    <div class="input-row">
      <label for="regphone">手机号</label>
      <input id="regphone" type="text" maxlength="11" v-model="regphone" placeholder="请输入手机号">
      <get-msm-button ref="msmButton" v-bind:phone="regphone" v-on:send-success="getSmsSuccess"></get-msm-button>
    </div>
    <div class="input-row">
      <label id="msm" for="">验证码</label>
      <div class="input-row-with-code">
        <input id="msm" type="text" v-model="msm" maxlength="4" placeholder="请输入收到的验证码">
      </div>
    </div>
    <div class="input-row">
      <label for="pwd">密码</label>
      <input id="pwd" type="password" v-model="pwd" placeholder="请输入密码">
    </div>
    <div class="input-row">
      <label for="repwd">确认密码</label>
      <input id="repwd" type="password" v-model="qrpwd" placeholder="请再次输入密码">
    </div>
  </div>
  <div id="nextStepButton" class="btn-submit ac" @click="onSubmit">{{submitButtonText}}</div>
  <script src="../script/api.js"></script>
  <script src="../script/lib/jquery-3.1.1.min.js"></script>  
  <script src="../script/lib/lodash.js"></script>
  <script src="../script/lib/vue.min.js"></script>
  <script src="../script/helper.js"></script>
  <script src="../script/components/GetMsm.js"></script>
  <script src="../script/page/regist.js"></script>
  <!--<div id="buttonSubmit" class="btn-submit ac">现在去登录</div>-->
</div>
</body>
</html>