<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>供应详情</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/swiper-3.4.1.min.css">
  <link rel="stylesheet" href="../css/user_avatar.css">
  <link rel="stylesheet" href="../css/supply_detail.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
	<div class="wrapper">
		<my-header title="供应详情">
			<div class="fs24 white ac" slot="headerRight" @click="share">分享</div>
		</my-header>
		<div class="supply-detail bg-white container" v-if="supplyInfo" v-cloak>
			<div id="swiper" class="swiper-container supply-detail__images" v-if="supplyInfo.Skillworksmodel.length > 0">
		    <div class="swiper-wrapper">
		      <div class="swiper-slide" v-for="item in supplyInfo.Skillworksmodel">
		        <img :src="item.skillwoksurl" alt="">
		      </div>
		    </div>
		    <!-- 如果需要分页器 -->
		    <div class="swiper-pagination"></div>
		  </div>
			<div class="remand-detail bg-white" v-cloak>
				<div class="row">
					<span class="row-label">供应名称</span>
					<span class="content">{{supplyInfo.skillName}}</span>
				</div>
				<div class="row">
					<span class="row-label">供应价格</span>
					<span class="content">{{supplyInfo.smoney}}</span>
					<span class="fs24">元</span>
				</div>
				<div class="row">
					<span class="row-label">截止时间</span>
					<span class="content">{{supplyInfo.servertime | date('yyyy-MM-dd')}}</span>
				</div>
				<div class="row">
					<span class="row-label">供应地点</span>
					<span class="content">{{supplyInfo.addressprovince + ' ' + supplyInfo.addresscity + ' ' + supplyInfo.addDistrict}}</span>
				</div>
				<div class="row">
					<span class="row-label">供应描述</span>
					<span class="content">{{supplyInfo.skilldetails}}</span>
				</div>
				<div class="row">
					<span class="row-label">供应备注</span>
					<span class="content">{{supplyInfo.Remark}}</span>
				</div>
			</div>
			<div class="display-flex supply-detail-buttons" v-if="!isMe">
				<div class="supply-detail__button" @click="onClickBook">{{supplyInfo.scstate == '2' ? '已收藏' : '感兴趣，并收藏'}}</div>
				<div class="supply-detail__button" @click="onClickAdvise">不吸引，给TA建议</div>
			</div>
		</div>
		<div @click="handleViewAllSupplies">
			<user-box :user="supplyInfo.sUsermodel[0]" v-if="supplyInfo" v-cloak>
				<div slot="userRtTop" class="fs24 text-999" href="javascript:">共发布供应{{supplyInfo.fbnumber}}个</div>
				<div slot="userRtBottom"></div>
			</user-box>
		</div>
		<div class="fixed-bottom deman-detail-bottom display-flex" v-if="!isMe && supplyInfo">
			<div class="button-chat" @click="goChat">聊一聊</div>
			<div class="button-phone" @click="onClickPhoneButton" v-if="supplyInfo.phonexsstr == 1">电话联系</div>
			<!-- <div class="button-invite" @click="onSubmit" v-if="!buttonDisabled">立即预约</div> -->
		</div
	</div>
	<script src="../script/lib/jquery-3.1.1.min.js"></script>
	<script src="../script/lib/lodash.js"></script>
	<script src="../script/lib/swiper-3.4.1.jquery.min.js"></script>
	<script src="../script/lib/vue.min.js"></script>
	<script src="../script/helper.js"></script>
	<script src="../script/page/supply_detail.js"></script>
</body>
</html>