<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>供应详情</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/user_avatar.css">
  <link rel="stylesheet" href="../css/supply_detail.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
	<div class="wrapper">
		<my-header title="供应详情">
			<div class="fs24 white ac" slot="headerRight" @click="share">分享</div>
		</my-header>
		<div class="supply-detail bg-white container" v-if="supplyInfo" v-cloak>
			<div class="supply-detail__images">
				<img v-for="item in supplyInfo.Skillworksmodel" :src="item.skillwoksurl" alt="">
			</div>
			<div class="supply-detail__name display-flex">
				<div class="fs28">{{supplyInfo.skillName}}</div>
				<div class="fs28 text-999"><span class="text-warning">¥{{supplyInfo.smoney}}</span>{{supplyInfo.smoneytype}}</div>
			</div>
			<div class="supply-detail__desc fs24 text-999">{{supplyInfo.skilldetails}}</div>
			<div class="display-flex supply-detail-buttons" v-if="!isMe">
				<div class="supply-detail__button" @click="onClickBook">{{booked ? '已收藏' : '感兴趣，并收藏'}}</div>
				<div class="supply-detail__button" @click="onClickAdvise">不吸引，给TA建议</div>
			</div>
		</div>
		<user-box :user="supplyInfo.sUsermodel[0]" v-if="supplyInfo" v-cloak>
			<div slot="userRtTop" class="fs24 text-999" href="javascript:">共发布供应{{supplyInfo.fbnumber}}个</div>
			<div slot="userRtBottom"></div>
		</user-box>
		<div class="fixed-bottom display-flex" v-if="!isMe">
			<div class="button-chat" @click="goChat"></div>
			<div class="button-book btn-submit" @click="onSubmit">立即预约</div>
		</div>
	</div>
	<script src="../script/lib/jquery-3.1.1.min.js"></script>
	<script src="../script/lib/lodash.js"></script>
	<script src="../script/lib/vue.min.js"></script>
	<script src="../script/helper.js"></script>
	<script src="../script/page/supply_detail.js"></script>
</body>
</html>