<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>个人中心</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/usercenter.css">
  <script src="../script/adapter.js"></script>
</head>
<body>
	<div class="main wrapper">
		<header class="header">
			<div class="header-left">
				<!--<span class="return-back"></span>-->
			</div>
			<div class="header-center">
				<span class="header-center-text">个人中心</span>
			</div>
			<div class="header-right"></div>
		</header>
		<section class="user-center-top display-flex" v-cloak @click="goPage('user_avatar')">
			<div class="user-info">			
				<div class="user-avatar" v-bind:style="avatarStyle"></div>
				<div class="user-info-tj" v-if="userid">
					<div class="user-name">
						<span class="vam">{{userInfo.pnickname}}</span>
						<span class="user-sex vam" :class="{'woman': userInfo.sex == 2}"></span>
					</div>
					<div class="online-status" :class="{'off-line': userInfo.onlineState == 2}">{{userInfo.onlineState == 1 ?  '在线' : '离线'}}</div>
				</div>
				<div class="please-login" v-else>请登录</div>
			</div>
			<div class="barcode-scan display-flex" v-if="userid">
				<div class="icon-barcode"></div>
				<div class="icon-angle-right"></div>
			</div>
		</section>
		<div class="user-center-features">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td class="user-feature-mywallet" @click="goPage('mywallet')">我的钱包</td>
					<td class="user-feature-supply" @click="goPage('mysupply')">我的供应</td>
					<td class="user-feature-demand" @click="goPage('mydemand')">我的需求</td>
				</tr>
				<tr>
					<td class="user-feature-contact" @click="goPage('contacter')">联系人</td>
					<td class="user-feature-dynamics" @click="goPage('mydynamics')">个人动态</td>
					<td class="user-feature-invite">邀请注册</td>
				</tr>
				<tr>
					<td class="user-feature-add" @click="goPage('morefunc')">更多</td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
	<script src="../script/api.js"></script>
	<script src="../script/lib/jquery-3.1.1.min.js"></script>
	<script src="../script/lib/lodash.js"></script>
	<script src="../script/lib/vue.min.js"></script>
	<script src="../script/helper.js"></script>
	<script src="../script/page/usercenter.js"></script>
</body>
</html>