.upload-wrap {
    margin-bottom: 0.5rem;
    /* height: 12rem; */
    background: #fff;
    overflow: hidden;
    border-bottom: 0.5rem solid #f0f1f5;
}
.upload-desc {
    margin-top: 1rem;
    font-size: 0.7rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}
.upload-desc span {
    float: right;
}
.upload-wrap .text-warning {
    margin-top: 0.75rem;
}

.upload-wrap .upload-box input {
    z-index: 2;
}
.upload-wrap .upload-box img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.has-renzheng {
    height: 10rem;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 7rem;
    background: url('../image/success.png') center no-repeat;
    background-size: 2.75rem 2.75rem;
}
.some-images {
    margin-top: 0.75rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-bottom: none;
    align-items: flex-start;
}
.some-images .upload-box {
    margin: 0.7rem;
    width: 7.5rem;
    height: 4.75rem;
}
.some-images > img {
    margin: 0.7rem;
    width: 7.5rem;
    height: 4.75rem;
}
.case-list {
    padding: 0 0.75rem;
}
.case-item {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}
.case-tiem__date {
    margin-top: 0.15rem;
    font-size: 0.55rem;
    color: #999;
}
.case-content {
    margin-top: 0.25rem;
    font-size: 0.6rem;
    color: #666;
    line-height: 1.5;
}
.certify-status {
    font-size: 0.7rem;
    text-align: center;
}