body {
	background-color: #f0f1f5;
}
.wenxin-remind {
	margin: 0.5rem auto;
	width: 16.5rem;
	padding: 0.3rem 0.4rem;
	font-size: 0.5rem;
	line-height: 1.4;
	color: #666;
	background: #ddd;
	border-radius: 4px;
}
.messages-container {
	padding: 0 0.65rem;
}
.msg-box {
	margin-top: 0.4rem;
	display: flex;
	align-items: flex-start;
}
.msg-box .user-avatar {
	flex-shrink: 0;
	width: 2.5rem;
	height: 2.5rem;
	overflow: hidden;
}
.msg-box .user-avatar img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.msg-content-wrap {
	flex: 1;
	position: relative;
}
.msg-box .msg-content {
	max-width: 10rem;
	width: auto;
	text-align: left;
	display: inline-block;
	padding: 0.5rem;
	line-height: 1.4;
	font-size: 0.6rem;
	color: #333;
	background: #fff;
	border-radius: 8px;
}
.msg-box .target-nickname {
	margin-bottom: 0.2rem;
	height: 0.8rem;
	font-size: 0.6rem;
	line-height: 0.8rem;
	color: #666;
}
.msg-box .msg-content img {
	vertical-align: middle;
	width: 0.9rem;
	height: 0.9rem;
}
.msg-box .msg-content.type-image img {
	max-width: 100%;
	width: auto;
	height: auto;
}
.msg-box.left .msg-content-wrap {
	//padding-top: 0.25rem;
	margin-left: 0.35rem;
	padding-left: 0.35rem;
}
.msg-box.left .msg-content-wrap:before {
	position: absolute;
	left: 0;
	top: 1.4rem;
	content: '';
	display: block;
	height: 0;
	width: 0;
	border-top: 0.35rem solid transparent;
	border-bottom: 0.35rem solid transparent;
	border-right: 0.5rem solid #fff;
}
.msg-box.right {
	flex-direction: row-reverse;
}
.msg-box.right .msg-content-wrap {
	text-align: right;
	padding-top: 0.25rem;
	margin-right: 0.35rem;
	padding-right: 0.35rem;
}
.msg-box.right .msg-content-wrap:before {
	position: absolute;
	right: 0;
	top: 0.8rem;
	content: '';
	display: block;
	height: 0;
	width: 0;
	border-top: 0.35rem solid transparent;
	border-bottom: 0.35rem solid transparent;
	border-left: 0.5rem solid deepskyblue;
}
.msg-box.right .msg-content-wrap .msg-content {
	background: deepskyblue;
}
.message-date {
	margin: 0.75rem 0;
	font-size: 0;
	text-align: center;
}
.message-date span {
	display: inline-block;
	padding: 0.25rem;
	font-size: 0.5rem;
	line-height: 0.5rem;
	color: #999;
	border-radius: 6px;
	background: #ddd;
}
