.location-byme {
    padding-left: 0.7rem;
    background: url('../image/icon_location_blue.png') left center no-repeat;
    background-size: 0.55rem 0.65rem;
}
.user-info {
    flex: 1;
}
.user-info .user-avatar {
    flex-shrink: 0;
}
.user-info-tj {
    position: static;
}
.user-center-top  {
    position: relative;
}
.user-info .user-info-tj {
    width: 100%;
    overflow: hidden;
}
.demand-price {
    position: absolute;
    bottom: 0.6rem;
    font-size: 0.5rem;
    width: 10rem;
    color: #999;
    line-height: 0.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.demand-price .warrant {
    display: inline-block;
    margin-left: 0.5rem;
    padding-left: 0.7rem;
    background: url('../image/icon_danbao.png') left center no-repeat;
    background-size: 0.75rem 0.75rem;
}
.remand-detail .row {
    display: flex;
    padding: 0.6rem 0;
    border-bottom: 1px solid #ddd;
    line-height: 1rem;
    font-size: 0.7rem;
}
.remand-detail .row:last-child {
    border-bottom: none;
}
.remand-detail .content {
    color: #666;
    flex: 1;
}
.remand-detail .row-label {
    flex-shrink: 0;
    margin-right: 1rem;
}
.invited-number {
    padding-left: 1rem;
    font-size: 0.6rem;
    color: #666;
    background: url('../image/check_ok.png') left center no-repeat;
    background-size: 0.85rem 0.65rem;
}
.has-invited-person {
    margin-top: 0.5rem;
}
.deman-detail-bottom {
    justify-content: space-around;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.button-chat,
.button-invite,
.button-invite-noname {
    padding-top: 1.35rem;
    width: 2.75rem;
    height: 2.75rem;
    border: 1px solid #ffb657;
    border-radius: 100%;
    font-size: 0.5rem;
    color: #666;
    text-align: center;
}
.button-chat {
    background: url(../image/icon_chat2.png) center 0.5rem no-repeat;
    background-size: 0.75rem 0.75rem;
}
.button-invite {
    color: #fff;
    border-color: #ff9000;
    background: #ff9000 url('../image/icon_invite.png') center 0.5rem no-repeat;
    background-size: 0.8rem 0.8rem;
}
.button-invite-noname {
    background: url('../image/icon_invite2.png') center 0.5rem no-repeat;
    background-size: 0.8rem 0.8rem;
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.4);
}
.yy-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -8.25rem;
    margin-top: -10.325rem;
    width: 16.5rem;
    height: 20.65rem;
    background: #fff;
}
.dialog-head {
    height: 2rem;
    background: #eee;
    font-size: 0.65rem;
    line-height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
    padding: 0 0.65rem;
}
.dialog-content {
    padding: 0 0.65rem;
}
.dialog-content .user-center-top {
    padding: 0.75rem 0;
}
.dialog-demand-content .row {
    height: 1.75rem;
    line-height: 1.75rem;
    border-bottom: 1px solid #ddd;
    font-size: 0.6rem;
}
.dialog-demand-content .row > span:first-child {
    margin-right: 0.4rem;
    width: 3.9rem;
    flex: 1;
}
.dialog-demand-content .row > span:last-child {
    color: #666;
}
#describe {
    width: 100%;
    height: 5.4rem;
    padding: 10px;
    font-size:0.6rem;
    border: 1px solid #ddd;
}
.dialog-buttons {
    margin-top: 0.3rem;
}
.dialog-buttons .btn-cancel,
.dialog-buttons .btn-ok {
    width: 7.5rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 4px;
}
.dialog-buttons .btn-cancel {
    background: #fff;
    border: 1px solid #ddd;
}
.dialog-buttons .btn-ok {
    background: #e4353a;
    color: #fff;
}
.user-info-rt {
    justify-content: flex-start;
}
.confirm-button {
    margin-top: 0.2rem;
    align-self: flex-end;
    text-align: right;
    font-size: 0.6rem;
    color: #999;
}
.confirm-button.wait {
    color: #e4353a;
}
.confirm-button.selected {
    color: green;
}

.button-cancel {
    margin-left: 0.4rem;
    font-size: 0.9rem;
    background: none;
    color: #ff9000;
    flex: 1;
    border: 1px solid #ff9000;
}

.btn-submit {
    flex: 1;
    width: auto;
}
.fixed-bottom {
    padding: 0 0.75rem;
}
