#userInfoForm {
    padding: 0 0.8rem 3.75rem;
}
.person-credentials {
    padding-bottom: 0.3rem;
}
.person-credentials-title {
    margin-top: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
    color: #000;
}
.person-credentials-title span:last-child {
    font-size: 0.6rem;
    color: #666;
}
.person-credentials-list {
    margin-top: 0.2rem;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
}
.person-credentials-image-wrap {
    position: relative;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    width: 3.75rem;
    height: 3.75rem;
}
.person-credentials-image-wrap .button-delete {
    position: absolute;
    right: -0.35rem;
    top: -0.35rem;
    width: 0.8rem;
    height: 0.8rem;
    background: url('../image/icon_delete.png') no-repeat;
    background-size: cover;
}
.person-credentials-image-wrap img {
    width: 100%;
    height: 100%;
}
.person-credentials .upload-box {
    margin: 0.5rem 0.5rem 0 0;
    width: 3.75rem;
    height: 3.75rem;
}