.top-banner {
	position: relative;
	background: url('../image/home_banner.jpg') no-repeat;
	width: 100%;
	height: 360px;
	overflow: hidden;
}

.weather {
	position: absolute;
	right: 30px;
	top: 30px;
	font-size: 24px;
	color: #fff;
}

.weather strong {
	font-size: 34px;
	font-weight: 400;
}

.top-banner .logo {
	margin: 92px auto 0;
	width: 240px;
	height: 86px;
	background: url('../image/logo.png') no-repeat;
}

.top-banner-bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	padding-bottom: 14px;
	width: 100%;
	padding-bottom: 14px;
}

.top-banner-bottom .search-box {
	width: 450px;
	height: 64px;
	line-height: 64px;
	font-size: 24px;
	color: #9f9f9f;		
	background: #fff;
	border-radius: 4px;
}

.icon-search {
	vertical-align: -4px;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../image/icon_search.png') no-repeat;
}

.select-location {
	width: 150px;
	padding-left: 24px;
}

.select-location:after {
	display: inline-block;
	vertical-align: middle;
	content: '';
	width: 19px;
	height: 12px;
	background: url('../image/arrow_down.png') no-repeat;
}

.top-banner-bottom .message-tip {
	position: relative;
	margin-left: 46px;
	width: 36px;
	height: 35px;
	background: url('../image/icon_wechat.png') no-repeat;
}

.message-tip .message-tip-number {
	position: absolute;	
	right: -8px;
	top: -6px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #ec3c41;
	background: #fff;
	border-radius: 100%;
}

.production-classify {
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.production-classify-item {
	font-size: 30px;
	line-height: 1;
}

.production-classify-icon {
	display: inline-block;
	margin-bottom: 16px;
	width: 90px;
	height: 90px;
	border-radius: 100%;
}

.production-classify-item:nth-child(1) .production-classify-icon {
	background: #2cd9b0 url('../image/production-1.png') center no-repeat;
}

.production-classify-item:nth-child(2) .production-classify-icon {
	background: #ef3833 url('../image/production-2.png') center no-repeat;
}

.production-classify-item:nth-child(3) .production-classify-icon {
	background: #fa5321 url('../image/production-3.png') center no-repeat;
}

.swiper-wrap {
	height: 240px;
	border-bottom: 20px solid #f0f1f5;
	background: #eee;	
}

.tab-header {
	height: 81px;
	padding: 12px 30px 0;
	color: #666;	
	border-bottom: 1px solid #ddd;
}

.tab-header span {
	padding: 0 45px;
	font-size: 32px;
	line-height: 67px;
}

.tab-header span.current {
	display: inline-block;
	border-bottom: 2px solid #f94f2b;
}

.remand-list {
	padding: 0 30px;
}

.remand-list li {
	padding-top: 30px;
	padding-bottom: 25px;
	border-bottom: 1px solid #eeeeee;
}

.remand-list li:last-child {
	border-bottom: none;
}

.user-info {
	position: relative;
	width: 140px;
	text-align: left;
}

.user-avatar-wrap {
	position: relative;
	width: 115px;
	height: 115px;
}
.user-avatar-wrap .user-avatar {
	width: 100%;	
	height: 100%;
	border-radius: 4px;
}

.user-avatar-wrap .p-tag {
	position: absolute;
	top: 6px;
	right: -4px;
	width: 40px;
	height: 22px;
	color: #fff;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	background: #ee5d61;	
	border-radius: 2px;
}

.user-info .good-like,
.user-info .publish-number {
	font-size: 16px;
	color: #999;
}

.user-roles {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 115px;
	justify-content: space-between;
	align-items: flex-start;
}

.user-roles__type1 {
	width: 19px;
	height: 19px;
	background: url('../image/icon_auth_1.png') no-repeat;
}

.user-roles__type2 {
	width: 21px;
	height: 21px;
	background: url('../image/icon_auth_3.png') no-repeat;
}

.user-roles__type3 {
	width: 21px;
	height: 19px;
	background: url('../image/icon_auth_2.png') no-repeat;
}

.user-roles__type4 {
	width: 19px;
	height: 21px;
	background: url('../image/icon_auth_4.png') no-repeat;
}

.icon-good,
.icon-notgood {
	display: inline-block;
	vertical-align: text-top;
	width: 18px;
	height: 16px;
}

.icon-good {
	background: url('../image/icon_good.png') no-repeat;
}

.icon-notgood {
	background: url('../image/icon_nogood.png') no-repeat;

}

.remand-info {
	flex: 1;
	font-size: 28px;
	color: #999;	
	line-height: 1;
	overflow: hidden;
}

.remand-info__persons,
.remand-info__price {
	margin-top: 18px;
}

.remand-info__detail {
	margin: 28px 0 20px;
	padding: 12px;
	font-size: 24px;
	line-height: 32px;
	opacity: 0.8;
	color: #666;
	background: #f9f9f9;
}

.remand-info__other {
	display: flex;
	font-size: 24px;
	color: #666;
	line-height: 1;
}

.remand-info__other .user-name {
	margin-right: 26px
}

.remand-info__other .user-name:before {
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	content: '';
	width: 27px;
	height: 27px;
	background: url('../image/icon_user_blue.png') no-repeat;
}

.remand-info__other .user-location:before {
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	content: '';
	width: 22px;
	height: 26px;
	background: url('../image/icon_location_blue.png') no-repeat;
}

.icon-check-ok {
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
	content: '';
	width: 29px;
	height: 21px;
	background: url('../image/check_ok.png') no-repeat;
}