.top-banner {
	position: relative;
	background: url('../image/home_banner.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 9rem;
	overflow: hidden;
}

.weather {
	position: absolute;
	right: 0.75rem;
	top: 0.75rem;
	font-size: 0.6rem;
	color: #fff;
}

.weather strong {
	font-size: 0.85rem;
	font-weight: 400;
}

.top-banner .logo {
	margin: 2.3rem auto 0;
	width: 6rem;
	height: 2.15rem;
	background: url('../image/logo.png') no-repeat;
	background-size: cover;
}

.top-banner-bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 11;
	display: flex;
	height: 2.2rem;
	align-items: center;
	width: 100%;
	background: rgba(236,60,60,0);
}

.top-banner-bottom.fixed {
	position: fixed;
	top: 0;
	background: rgba(236,60,60,1);
}

.top-banner-bottom .search-box {
	width: 11.25rem;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.6rem;
	color: #9f9f9f;		
	background: #fff;
	border-radius: 4px;
}

.top-banner-bottom .search-box > input {
	outline: none;
	border: none;
}

.icon-search {
	vertical-align: -2px;
	display: inline-block;
	width: 0.7rem;
	height: 0.7rem;
	background: url('../image/icon_search.png') no-repeat;
	background-size: cover;
}

.select-location {
	width: 3.75rem;
	padding-left: 0.6rem;
}

.select-location:after {
	display: inline-block;
	vertical-align: middle;
	content: '';
	width: 0.475rem;
	height: 0.3rem;
	background: url('../image/arrow_down.png') no-repeat;
	background-size: cover;
}

.top-banner-bottom__right {
	width: 3.75rem;
}

.top-banner-bottom .message-tip {
	position: relative;
	margin-left: 1.5rem;
	width: 0.9rem;
	height: 0.875rem;
	background: url('../image/icon_wechat.png') no-repeat;
	background-size: cover;
}

.message-tip .message-tip-number {
	position: absolute;	
	right: -0.2rem;
	top: -0.15rem;
	display: flex;
	align-items: center;
	width: 0.55rem;
	height: 0.55rem;
	text-align: center;
	font-size: 0.5rem;
	color: #ec3c41;
	background: #fff;
	border-radius: 100%;
}

.message-tip .message-tip-number > i {
	display: block;
	width: 100%;
	text-align: center;
	font-style: normal;
}

.production-classify {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #fff;
}

.production-classify-item {
	font-size: 0.75rem;
	line-height: 1;
}

.production-classify-icon {
	display: inline-block;
	margin-bottom: 0.4rem;
	width: 2.25rem;
	height: 2.25rem;
	border-radius: 100%;
}

.production-classify-item:nth-child(1) .production-classify-icon {
	background: #2cd9b0 url('../image/production-1.png') center no-repeat;
	background-size: 1.425rem 1.35rem;
}

.production-classify-item:nth-child(2) .production-classify-icon {
	background: #ef3833 url('../image/production-2.png') center no-repeat;
	background-size: 1.425rem 1.35rem;
}

.production-classify-item:nth-child(3) .production-classify-icon {
	background: #fa5321 url('../image/production-3.png') center no-repeat;
	background-size: 0.875rem 1.475rem;
}

.swiper-container {
	height: 6rem;
	border-bottom: 0.5rem solid #f0f1f5;
	background: #eee;	
}

.tab {
	background: #fff;
} 

.tab-header {
	height: 2.025rem;
	padding: 0.3rem 0.75rem 0;
	color: #666;	
	border-bottom: 1px solid #ddd;
}

.tab-header span {
	display: inline-block;
	padding: 0 0.8rem;
	font-size: 0.8rem;
	line-height: 1.7rem;
	border-bottom: 1px solid #ddd;
}

.tab-header span.current {
	border-bottom: 1px solid #f94f2b;
}

.remand-list {
	padding: 0 0.75rem;
}

.remand-list li {
	padding-top: 0.75rem;
	padding-bottom: 0.625rem;
	border-bottom: 1px solid #eeeeee;
}

.remand-list li:last-child {
	border-bottom: none;
}

.remand-list li > a {
	align-items: flex-start;
}

.user-info {
	position: relative;
	width: 3.5rem;
	margin-right: 0.5rem;
	text-align: left;
}

.user-avatar-wrap {
	position: relative;
	width: 3.5rem;
	height: 3.5rem;
}
.user-avatar-wrap .user-avatar {
	width: 100%;	
	height: 100%;
	border-radius: 4px;
}

.user-avatar-wrap .p-tag {
	position: absolute;
	top: 0.15rem;
	right: -0.1rem;
	width: 1rem;
	height: 0.55rem;
	color: #fff;
	font-size: 0.4rem;
	line-height: 0.55rem;
	text-align: center;
	background: #ee5d61;	
	border-radius: 2px;
}

.user-info .good-like,
.user-info .publish-number {
	font-size: 0.5rem;
	color: #999;
}
.good-like-pl {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}

.user-info .publish-number {
	margin-top: 0.1rem;
}

.user-roles {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	width: 3.2rem;
	padding-left: 0.1rem;
	justify-content: space-between;
	align-items: flex-start;
}

.user-roles > span {
	transform: scale(1.2);
}

.user-roles__type1 {
	width: 0.475rem;
	height: 0.475rem;
	background: url('../image/icon_noauth_1.png') no-repeat;
	background-size: cover;
}
.user-roles__type1.done {
	background-image: url('../image/icon_auth_1.png');
}

.user-roles__type2 {
	width: 0.525rem;
	height: 0.525rem;
	background: url('../image/icon_noauth_3.png') no-repeat;
	background-size: cover;
}

.user-roles__type2.done {
	background-image: url('../image/icon_auth_3.png');
}

.user-roles__type3 {
	width: 0.525rem;
	height: 0.475rem;
	background: url('../image/icon_noauth_2.png') no-repeat;
	background-size: cover;
}

.user-roles__type3.done {
	background-image: url('../image/icon_auth_2.png');
}

.user-roles__type4 {
	margin-top: -1px;
	width: 0.475rem;
	height: 0.525rem;
	background: url('../image/icon_noauth_4.png') no-repeat;
	background-size: cover;
}
.user-roles__type4.done {
	background-image: url('../image/icon_auth_4.png');
}

.icon-good,
.icon-notgood {
	display: inline-block;
	margin-right: 1px;
	vertical-align: text-top;
	width: 0.6rem;
	height: 0.6rem;
}

.icon-good {
	background: url('../image/icon_good.png') no-repeat;
	background-size: cover;
}

.icon-notgood {
	background: url('../image/icon_nogood.png') no-repeat;
	background-size: cover;
}

.remand-info {
	flex: 1;
	font-size: 0.7rem;
	color: #999;	
	line-height: 1;
	overflow: hidden;
}

.remand-info__persons,
.remand-info__price {
	margin-top: 0.3rem;
}

.remand-info strong {
	font-weight: 400;
	font-size: 1rem;
}

.remand-info__detail {
	margin: 0.6rem 0 0.5rem;
	padding: 0.3rem;
	font-size: 0.7rem;
	line-height: 0.9rem;
	opacity: 0.8;
	color: #666;
	background: #eee;
}

.remand-info__other {
	display: flex;
	font-size: 0.6rem;
	color: #666;
	line-height: 1;
}

.remand-info__other .user-name {
	margin-right: 0.65rem
}

.remand-info__other .user-name:before {
	margin-right: 0.25rem;
	display: inline-block;
	vertical-align: text-top;
	content: '';
	width: 0.75rem;
	height: 0.75rem;
	background: url('../image/icon_user_blue.png') no-repeat;
	background-size: cover;
}

.remand-info__other .user-location:before {
	margin-right: 0.25rem;
	display: inline-block;
	vertical-align: text-top;
	content: '';
	width: 0.55rem;
	height: 0.65rem;
	background: url('../image/icon_location_blue.png') no-repeat;
	background-size: cover;
}

.icon-check-ok {
	margin-right: 0.25rem;
	display: inline-block;
	vertical-align: top;
	content: '';
	width: 0.85rem;
	height: 0.65rem;
	background: url('../image/check_ok.png') no-repeat;
	background-size: cover;
}

.swiper-pagination-bullet-active {
	background: #fff;
}