body {
    background: #f0f1f5;
}
.message-date {
    margin: 0.75rem 0;
    font-size: 0;
    text-align: center;
}
.message-date span {
    display: inline-block;
    padding: 0.25rem;
    font-size: 0.5rem;
    line-height: 0.5rem;
    color: #999;
    border-radius: 6px;
    background: #ddd;
}
.message-box {
    margin: 0 auto 0.65rem;
    padding: 0 0.45rem;
    width: 15.85rem;
    background: #fff;
}
.message-title {
    font-size:0.75rem;
    height: 1.75rem;
    line-height: 1.75rem;
}
.message-content {
    color: #666;
    font-size: 0.6rem;
    line-height: 1.5;
    padding: 0.5rem 0;
    border-top: 1px solid #ddd;
}
.message-button {
    height: 1.6rem;
    line-height: 1.6rem;
    font-size: 0.6rem;
    text-align: center;
}
.message-list-item {
    display: flex;
    padding: 0.8rem 0;
    border-bottom: 1px solid #ddd;
}
.message-list-item__avatar {
    position: relative;
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 0.15rem;
    flex-shrink: 0;
}
.message-list-item__avatar > img {
    width: 100%;
    height: 100%;
}
.message-list-item__avatar.notice {
    background: url('../image/icon_laba.png') center no-repeat;
    background-size: 2rem 2rem;
}
.message-list-item__avatar .has-new-notice {
    position: absolute;
    display: block;
    right: 0;
    width: 0.4rem;
    height: 0.4rem;
    background-color: red;
    border-radius: 100%;
}
.message-list-item__info {
    flex: 1;
    overflow: hidden;
    padding-left: 0.5rem;
}
.message-list-item__title {
    font-size: 0.7rem;
}
.message-list-item__date {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    font-size: 0.55rem;
    color: #999;
}
.message-list-item__content {
    color: #666;
    font-size: 0.6rem;
}