body {
    background: #f0f1f5;
}
.message-date {
    margin: 0.75rem 0;
    font-size: 0;
    text-align: center;
}
.message-date span {
    display: inline-block;
    padding: 0.25rem;
    font-size: 0.5rem;
    line-height: 0.5rem;
    color: #999;
    border-radius: 6px;
    background: #ddd;
}
.message-box {
    margin: 0 auto 0.65rem;
    padding: 0 0.45rem;
    width: 15.85rem;
    background: #fff;
}
.message-title {
    font-size:0.75rem;
    height: 1.75rem;
    line-height: 1.75rem;
}
.message-content {
    color: #666;
    font-size: 0.6rem;
    line-height: 1.5;
    padding: 0.5rem 0;
    border-top: 1px solid #ddd;
}
.message-button {
    height: 1.6rem;
    line-height: 1.6rem;
    font-size: 0.6rem;
    text-align: center;
}
.message-list-item {
    display: flex;
    padding: 0.8rem 0.75rem;
    border-bottom: 1px solid #ddd;
}
.message-list-item__avatar {
    position: relative;
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 0.15rem;
    flex-shrink: 0;
}
.message-list-item__avatar > img {
    width: 100%;
    height: 100%;
}
.message-list-item__avatar.notice {
    background: url('../image/icon_laba.png') center no-repeat;
    background-size: 2rem 2rem;
}
.message-list-item__avatar.yynotice {
    position: relative;
    background: url('../image/icon_notice_yy.png') center no-repeat;
    background-size: 2rem 2rem;
}
.yynotice-item  {
    position: relative;
}
.yynotice-item .delete-button {
    position: absolute;
    right: 0;
    top: 1.6rem;
    width: 2rem;
    font-size: 0.6rem;
    color: #666;
}
.message-list-item__avatar .has-new-notice {
    position: absolute;
    display: block;
    right: 0;
    width: 0.4rem;
    height: 0.4rem;
    background-color: red;
    border-radius: 100%;
}
.message-list-item__info {
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding-left: 0.5rem;
}
.message-list-item__title {
    font-size: 0.8rem;
}
.message-list-item__date {
    margin-bottom: 0.6rem;
    font-size: 0.55rem;
    color: #999;
}
.message-list-item__content {
    color: #666;
    font-size: 0.7rem;
}
.message-list-item__otherinfo {
    display: inline-flex;
    flex-shrink: 0;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}
.unread-number {
    display: block;
    box-sizing: content-box;
    font-size: 0.6rem;
    height: 1rem;
    min-width: 0.5rem;
    padding: 0 0.25rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 1rem;
    background: #ee5d61;
}