body {
    background: #f0f1f5;
}
.more-func-list {
    height: 7.5rem;
    background: #fff url('../image/more_func_icons.jpg') 0.8rem top no-repeat;
    background-size: 1.6rem 10rem;
}
.more-func-list li {
    padding-left: 1.8rem;
    height: 2.5rem;
    font-size: 0.7rem;
    line-height: 2.5rem;
    border-bottom: 1px solid #ddd;
    background: url('../image/icon_angle_right.png') right center no-repeat;
    background-size: 0.5rem 0.8rem;
}
.more-func-list li:last-child {
    border-bottom: none;
}
.button-logout {
    margin-top: 0.5rem;
    height: 2.5rem;
    font-size: 0.7rem;
    line-height: 2.5rem;
    background: #ddd;
}
.input-row label {
    width: 5rem;
}
