#editPasswordForm .input-row:last-child {
    border-bottom: none;
}
#buttonSubmit {
    position: relative;
    margin: 0.8rem auto 0;
    left: 0;
    top: 0;
}
.btn-reget {
    width: 3.45rem;
    height: 1.5rem;
    font-size: 0.6rem;
    line-height: 1.5rem;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    background: #e4353a;
}
#findPasswordForm label {
    width: 4.5rem;
}
.find-password-step-1 .input-row input {
    border-bottom: 1px solid #ddd;
    height: 100%;
}
.verify-warn {
    margin-top: 0.8rem;
    font-size: 0.6rem;
    color: #666;
    padding-left: 0.8rem;
}
.find-password-success {
    display: flex;
    justify-content: center;
    height: 10.75rem;
    line-height: 1.5;
    padding-top: 3.85rem;
}
.find-password-success .icon-success {
    margin-right: 0.7rem;
    width: 2.75rem;
    height: 2.75rem;
    background: url('../image/success.png') no-repeat;
    background-size: 2.75rem 2.75rem;
}
.success-text {
    margin-top: 0.15rem;
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
}
.book-skill {
    margin-bottom: 0.5rem;
}
.link-row {
    height: 2.2rem;
    font-size: 0.7rem;
    line-height: 2.2rem;
    background: url('../image/icon_angle_right.png') right center no-repeat;
    background-size: 0.5rem 0.8rem;
    border-bottom: 1px solid #ddd;
}
.link-row:last-child {
    border-bottom: none;
}
.input-row-with-code {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
}
#findPasswordForm .input-row,
#findPasswordForm input {
    border-bottom: none;
}