.professors {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0.9rem;
    justify-content: space-between;
}
.professor-box {
    margin-bottom: 1rem;
    width: 7.55rem;
    height: 8.2rem;
    overflow: hidden;
    border-radius: 4px;
}
.professor-avatar {
    width: 100%;
    height: 5rem;
    overflow: hidden;
}
.professor-avatar > img {
    height: 100%;
}
.professor-info {
    height: 100%;
    padding-top: 0.8rem;
    background: #f5f5f5;
}
.professor-name {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1;
}
.professor-title {
    font-size: 0.55rem;
}
.professor-box-wrap {
    height: 10.15rem;
    overflow: hidden;
}
.professor-detail-page {
    padding-bottom: 4rem;
}
.professor-detail-page .professor-box {
    margin: 1rem auto;
    overflow: hidden;
}
.professor-info-selections {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
.professor-info-selections > div {
    height: 5.4rem;
    width: 50%;
    padding-top: 3.25rem;
    text-align: center;
    font-size: 0.7rem;
}
.professor-info-selections-1 {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: url('../image/professor_icon_1.png') center 1.5rem no-repeat;
    background-size: 1.7rem 1.7rem;
}
.professor-info-selections-2 {
    border-bottom: 1px solid #ddd;
    background: url('../image/professor_icon_2.png') center 1.5rem no-repeat;
    background-size: 1.7rem 1.7rem;
}
.professor-info-selections-3 {
    border-right: 1px solid #ddd;
    background: url('../image/professor_icon_3.png') center 1.5rem no-repeat;
    background-size: 1.7rem 1.7rem;
}
.professor-info-selections-4 {
    background: url('../image/professor_icon_4.png') center 1.5rem no-repeat;
    background-size: 1.9rem 1.9rem;
}
.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 3.75rem;
    background: #fff;
    border-top: 1px solid #eee;
}
.add-question-form .input-area {
    display: flex;
    align-items: flex-start;
    padding-top: 0.6rem;
    height: 15rem;
}
.input-area > textarea {
    flex: 1;
    height: 13.5rem;
}
.professor-part h4 {
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    padding-left: 0.9rem;
    font-size: 0.7rem;
}
.professor-part .professors {
    padding-top: 0;
    padding-bottom: 0;
}
.great-professor h4 {
    margin-top: 0;
}
.consult-list {
    padding: 0 0.9rem;
}
.consult-list h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.55rem;
    font-size: 0.7rem;
    line-height: 1;
    border-bottom: 1px solid #ddd;
}
.consult-list ul li {
    line-height: 2.25rem;
    font-size: 0.7rem;
    color: #666;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.newest {
    margin-bottom: 1.1rem;
}