.qualifications {
    padding: 0 0.7rem;
}
.qulification-item {
    display: flex;
    justify-content: space-between;
    height: 2.25rem;
    font-size: 0.6rem;
    line-height: 2.25rem;
    border-bottom: 1px solid #ddd;
}
.qulification-item:last-child {
    border-bottom: none;
}
.qulification-name {
    padding-left: 1.35rem;
    color: #000;
}
.qulification-status {
    color: #999;
}
.qulification-item.certified .qulification-name,
.qulification-item.certified .qulification-status {
    color: #ff9000;
}
.qulification-name.v1 {
    background: url('../image/authicons/auth_v1_n.png') 0.2rem center no-repeat;
    background-size: 0.9rem 0.9rem;
}
.qulification-item.certified .v1 {
    background-image: url('../image/authicons/auth_v1_y.png');
}
.qulification-name.v2 {
    background: url('../image/authicons/auth_v2_n.png') 0.2rem center no-repeat;
    background-size: 0.9rem 0.9rem;
}
.qulification-item.certified .v2 {
    background-image: url('../image/authicons/auth_v2_y.png');
}
.qulification-name.v3 {
    background: url('../image/authicons/auth_v3_n.png') 0.2rem center no-repeat;
    background-size: 0.9rem 0.9rem;
}
.qulification-item.certified .v3 {
    background-image: url('../image/authicons/auth_v3_y.png');
}
.qulification-name.v4 {
    background: url('../image/authicons/auth_v4_n.png') 0.2rem center no-repeat;
    background-size: 0.9rem 0.9rem;
}
.qulification-item.certified .v4 {
    background-image: url('../image/authicons/auth_v4_y.png');
}
.check-invite-condition {
    border-top: 16px solid #f0f1f5;
}
.check-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 2.8rem;
    font-size: 0.7rem;
    line-height: 2.8rem;
}
.check-invite-condition .remind {
    padding: 0.5rem 0.75rem;
    font-size: 0.65rem;
    color: #666;
    line-height: 1.1rem;
    background: #ffeac6;
}
