body {
    background: #f0f1f5;
}
.container {
    background: #fff;
}
.question-list li {
    display: flex;
    padding-right: 0.7rem;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    border-bottom: 1px solid #ddd;
    background: url('../image/icon_angle_right.png') right center no-repeat;
    background-size: 0.4rem 0.7rem;
}
.question-list li:last-child {
    border-bottom: none;
}
.question-list li .answer-status {
    height: 0.75rem;
    font-size: 0.6rem;
    line-height: 0.75rem;
    color: #666;
}
.question-list li .answer-status:before {
    margin-right: 0.1rem;
    vertical-align: top;
    display: inline-block;
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    background: url('../image/icon_interrogation.png') left center no-repeat;
    background-size: 0.75rem 0.75rem;
}
.question-list li .answer-status.answered:before {
    background-image: url('../image/icon_ok.jpg');
}
.question-list li .answer-status.professor:before {
    content: '专';
    display: inline-block;
    padding-top: 1px;
    width: 0.7rem;
    height: 0.7rem;
    background: #ec3c41;
    border-radius: 100%;
    font-size: 0.45rem;
    text-align: center;
    color: #fff;
}
.question-section {
    margin-bottom: 0.5rem;
    padding: 0 0.6rem;
    background: #fff;
}
.question-section h2 {
    margin: 0;
    padding: 0.6rem 0;
    font-size: 0.8rem;
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #e0e0e0;
}
.nonedata {
    font-size: 0.6rem;
    text-align: center;
    line-height: 2rem;
    color: #999;
}