body {
    background: #f0f1f5;
}
.input-recharge-num {
    display: flex;
    height: 2.2rem;
    align-items: center;
    font-size: 0.7rem;
    padding: 0 0.75rem;
    background: #fff;
}
.input-recharge-num > input {
    margin-left: 0.8rem;
    flex: 1;
    outline: none;
    border: none;
}
.input-recharge-num > input::-webkit-input-placeholder {
    color: #666;
}
.recharge-remind {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    padding: 0 0.75rem;
    font-size: 0.6rem;
    color: #999;
    line-height: 1.3;
}
.recharge-remind-ts {
    width: 2.25rem;
    flex-shrink: 0;
}
h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 0.7rem;
    color: #000;
    font-weight: 400;
}
.pay-way-wrap {
    padding: 0 0.9rem;
    background: #fff;
}
.pay-way {
    height: 2.2rem;
    line-height: 2.2rem;
    padding-left: 2.2rem;
}
.zhifubao {
    background: url('../image/zhibubao.png') left center no-repeat;
    background-size: 1.1rem 1.1rem;
    border-bottom: 1px solid #ddd;
}
.weichat {
    background: url('../image/wechat.png') left center no-repeat;
    background-size: 1.1rem 1.1rem;
}
.pay-way .icon-selected {
    display: none;
    width: 0.8rem;
    height: 0.8rem;
    background: url('../image/icon_selected_red.png') no-repeat;
    background-size: cover;
}
.pay-way.selected .icon-selected {
    display: block;
}
.btn-submit {
    position: static;
    margin: 1rem auto 0;
}
.recharge-record-list__head {
    display: flex;
    height: 1.75rem;
    font-size: 0.6rem;
    line-height: 1.75rem;
}
.recharge-record-list__head > span {
    flex: 1;
}
.recharge-record-list__content {
    background-color: #fff;
    padding: 0 0.75rem;
    font-size: 0.6rem;
}
.recharge-record-list__item {
    display: flex;
    height: 1.8rem;
    line-height: 1.8rem;
    border-bottom: 1px solid #ddd;
}
.recharge-record-list__item:last-child {
    border-bottom: none;
}
.recharge-record-list__item > span {
    flex: 1;
}
.recharge-record-status.complete {
    color: #e4353a;
}
.no-more {
    margin-top: 0.5rem;
    height: 1.75rem;
    background-color: #eee;
    font-size: 0.6rem;
    line-height: 1.75rem;
    text-align: center; 
}