.search-header .header-center {
    padding: 0;
    padding-top: 5px;
}
.search-input {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    padding-left: 1.55rem;
    padding-right: 1rem;
    background: #fff url('../image/icon_search_red.png') left 0.5rem center no-repeat;
    background-size: 0.8rem 0.8rem;
}
.search-input > input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.7rem;
}
.search-input > input::-webkit-input-placeholder {
    color: #999;
}
.search-header .header-right {
    font-size: 0.65rem;
    color: #fff;
    text-align: center;
}
.search-history li {
    display: flex;
    height: 2.025rem;
    width: 100%;
    padding-right: 1.5rem;
    font-size: 0.6rem;
    color: #666;
    line-height: 2rem;
    border-bottom: 1px solid #ddd;
    background: url('../image/icon_go_search.png') right 0.6rem center no-repeat;
    background-size: 0.6rem 0.6rem;
}
.search-history li .icon-search {
    width: 2.25rem;
    height: 100%;
    flex-shrink: 0;
    opacity: .6;
    background: url('../image/icon_search_red.png') center no-repeat;
    background-size: 0.8rem 0.8rem;
}
.search-history-content {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.clear-search-history {
    font-size: 0.6rem;
    color: #666;
    line-height: 2rem;
    background: #eee;
}