.share-price {
    padding-top: 3.25rem;
}
.promo-bag {
    margin: 0 auto;
    width: 3.75rem;
    height:3.75rem;
    background: url('../image/proto_bag.png') no-repeat;
    background-size:cover;
}
.share-price-condition {
    margin-top:1rem;
    margin-bottom: 0.25rem;
    font-size: 0.8rem;
}
.share-price-text {
    margin-bottom: 1.75rem;
    font-size:1.05rem;
    color: #e4353a;
}
.line-text {
    position: relative;
    height: 1rem;
    line-height: 1rem;
    width: 100%;
    padding: 0 1.05rem;
    font-size: 0;
    text-align: center;
}
.line-text__line {
    position: absolute;
    top: 0.5rem;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #ddd;
}
.line-text__text {
    position: relative;
    z-index: 2;
    padding: 0 0.6rem;
    display: inline-block;
    font-size:0.65rem;
    color: #666;
    background: #fff;
}
.share-area {
    padding: 0 1.05rem;
}
.share-items {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding: 0 2.5rem;
    font-size: 0.65rem;
    color: #666;
}
.share-items > div {
    width: 3.25rem;
    height: 3.75rem;
    padding-top: 2.9rem;
    text-align: center;
}
.share-friends {
    background: url('../image/share_friends.png') top center no-repeat;
    background-size: 2.6rem 2.6rem;
}
.share-wx {
    background: url('../image/share_wx.png') top center no-repeat;
    background-size: 2.6rem 2.6rem;
}
.share-weibo {
    background: url('../image/share_weibo.png') top center no-repeat;
    background-size: 2.6rem 2.6rem;
}
.rules {
    padding: 0 1.05rem;
    font-size: 0.7rem;
    line-height: 1.5;
    color: #999;
}
.rules-article {
    margin-top: 0.75rem;
}