.supply-detail {
	overflow: hidden;
}
.user-info-tj {
	width: 5rem;
}
.supply-detail__images > img {
	margin-top: 0.75rem;
	width: 100%;
}
.supply-detail__name {
	margin-top: 0.8rem;
	margin-bottom: 0.4rem;
}
.supply-detail__desc {
	margin-bottom: 0.6rem;
}
.supply-detail__zone {
	margin-bottom: 0.8rem;
}
.supply-detail-buttons {
	margin-bottom: 0.8rem;
}
.supply-detail__button {
	width: 8rem;
	height: 1.8rem;
	border-radius: 0.15rem;
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.75rem;
	color: #ff9000;
	border: 1px solid #ff9000;
}
.user-center-top {
	margin-top: 0.5rem;
}
.button-chat {
	margin-right: 0.4rem;
	width: 3rem;
	height: 2.2rem;
	background: #ff9000 url('../image/icon_chat.png') center no-repeat;
	background-size: 1.35rem 1.35rem;
	border-radius: 0.15rem;
}
.fixed-bottom {
	padding: 0 0.75rem;
}
.button-book {
	font-size: 0.7rem;
}
.deman-detail-bottom {
    justify-content: space-around;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.button-chat,
.button-invite,
.button-invite-noname {
    padding-top: 1.35rem;
    width: 2.75rem;
    height: 2.75rem;
    border: 1px solid #ffb657;
    border-radius: 100%;
    font-size: 0.5rem;
    color: #666;
    text-align: center;
}
.button-chat {
    background: url(../image/icon_chat2.png) center 0.5rem no-repeat;
    background-size: 0.75rem 0.75rem;
}
.button-phone {
	padding-top: 1.35rem;
    width: 2.75rem;
    height: 2.75rem;
    border: 1px solid #ffb657;
    border-radius: 100%;
    font-size: 0.5rem;
    color: #666;
    text-align: center;
    background: url('../image/phone_2.png') center 0.3rem no-repeat;
    background-size: 0.9rem 0.9rem;
}
.button-invite {
    color: #fff;
    border-color: #ff9000;
    background: #ff9000 url('../image/icon_invite.png') center 0.5rem no-repeat;
    background-size: 0.8rem 0.8rem;
}
.button-invite-noname {
    background: url('../image/icon_invite2.png') center 0.5rem no-repeat;
    background-size: 0.8rem 0.8rem;
}

.remand-detail .row {
    display: flex;
    padding: 0.6rem 0;
    border-bottom: 1px solid #ddd;
    line-height: 1rem;
    font-size: 0.7rem;
}
.remand-detail .row:last-child {
    border-bottom: none;
}
.remand-detail .content {
    color: #666;
    flex: 1;
}
.remand-detail .row-label {
    flex-shrink: 0;
    margin-right: 1rem;
}
.swiper-container {
	height: 14rem;
	border-bottom: 0.5rem solid #f0f1f5;
	background: #eee;
}
.swiper-container img {
	width: 100%;
	line-height: 14rem;
}
.swiper-pagination-bullet-active {
	background: #fff;
}
