body {
	background: #f0f1f5;
}
.user-center-top {
	height: 4.75rem;
	padding: 0.75rem;
	justify-content: space-between;
	background: #fff;
}
.user-info {
	display: inline-flex;
}
.user-info .please-login {
	font-size: 0.8rem;
	line-height: 3.25rem;
}
.user-info .user-avatar {
	margin-right: 0.5rem;
	width: 3.25rem;
	height: 3.25rem;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.user-info .user-name {
	margin-bottom: 0.1rem;
	font-size: 0.65rem;
}
.user-sex {
	margin-left: 0.2rem;
	display: inline-block;
	width: 0.65rem;
	height: 0.65rem;
	background: url('../image/icon_sex_man.png') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.user-sex.woman {
	background-image: url('../image/icon_sex_woman.png');
}
.user-info-tj {
	font-size: 0;
}
.online-status {
	display: inline-block;
	border-radius: 3px;
	font-size: 0.5rem;
	padding: 0.1rem 0.2rem;
	color: #fff;
	background: #ff9000;
}
.online-status.off-line {
	background-color: #ddd;
	color: #fff;
}
.user-center-features {
	margin-top: 0.5rem;
	background: #fff;
}
.user-center-features > table {
	width: 100%;
	border-collapse: collapse;
	border: none;
}
.user-center-features > table td {
	width: 33.33%;
	height: 5.25rem;
	padding-top: 1.85rem;
	text-align: center;
	font-size: 0.75rem;
	color: #000;
	border: 1px solid #eee;
	background-size: 1.5rem 1.5rem;
	background-repeat: no-repeat;
	background-position: center 1.35rem;
}
.user-feature-mywallet {
	background-image: url('../image/features/f1.png');
}
.user-feature-supply {
	background-image: url('../image/features/f2.png');
}
.user-feature-demand {
	background-image: url('../image/features/f3.png');
}
.user-feature-contact {
	background-image: url('../image/features/f4.png');
}
.user-feature-dynamics {
	background-image: url('../image/features/f5.png');
}
.user-feature-invite {
	background-image: url('../image/features/f6.png');
}
.user-feature-add {
	background-image: url('../image/features/f7.png');
}
.barcode-scan {
	align-items: center;
}
.barcode-scan .icon-barcode {
	margin-right: 0.3rem;
	width: 1.1rem;
	height: 1.1rem;
	background: url('../image/icon_barcode_scan.png') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.barcode-scan .icon-angle-right {
	width: 0.5rem;
	height: 0.8rem;
	background: url('../image/icon_angle_right.png') no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
