<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6937824183587" version="0.0.1">
  <name>三岔口消防</name>
  <description>三岔口消防</description>
  <author email="chaofan.wang@qq.com" href="http://www.apicloud.com">王超凡</author>
  <content src="index.html"/>
  <preference name="pageBounce" value="false"/>
  <preference name="appBackground" value="rgba(255,255,255,0.0)"/>
  <preference name="windowBackground" value="rgba(255,255,255,0.0)"/>
  <preference name="frameBackgroundColor" value="rgba(255,255,255,0.0)"/>
  <preference name="hScrollBarEnabled" value="true"/>
  <preference name="vScrollBarEnabled" value="false"/>
  <preference name="autoLaunch" value="true"/>
  <preference name="fullScreen" value="false"/>
  <preference name="autoUpdate" value="true"/>
  <preference name="smartUpdate" value="true"/>
  <preference name="debug" value="true"/>
  <preference name="softInputMode" value="resize"/>
  <preference name="statusBarAppearance" value="true"/>
  <permission name="readPhoneState"/>
  <permission name="camera"/>
  <permission name="record"/>
  <permission name="location"/>
  <permission name="fileSystem"/>
  <permission name="internet"/>
  <permission name="bootCompleted"/>
  <permission name="hardware"/>
  <access origin="*"/>
</widget>
