<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6937824183587" version="0.0.1">
  <name>三岔口消防</name>
  <description>三岔口消防</description>
  <author email="chaofan.wang@qq.com" href="http://www.apicloud.com">王超凡</author>
  <content src="index.html"/>
  <preference name="pageBounce" value="false"/>
  <preference name="appBackground" value="#FFFFFF"/>
  <preference name="windowBackground" value="#FFFFFF"/>
  <preference name="frameBackgroundColor" value="#FFFFFF"/>
  <preference name="hScrollBarEnabled" value="true"/>
  <preference name="vScrollBarEnabled" value="false"/>
  <preference name="autoLaunch" value="true"/>
  <preference name="fullScreen" value="false"/>
  <preference name="autoUpdate" value="true"/>
  <preference name="smartUpdate" value="true"/>
  <preference name="debug" value="true"/>
  <preference name="softInputMode" value="resize"/>
  <preference name="statusBarAppearance" value="false"/>
  <permission name="readPhoneState"/>
  <permission name="camera"/>
  <permission name="record"/>
  <permission name="location"/>
  <permission name="fileSystem"/>
  <permission name="internet"/>
  <permission name="bootCompleted"/>
  <permission name="hardware"/>
  <access origin="*"/>
  <feature name="baiduLocation">
    <param name="apiKey" value="HSXjSbv4ZGFgRHwLwvje7tqo" />
  </feature>
  <feature name="aliPay">
    <param name="urlScheme" value="AliPayA6937824183587"/>
  </feature>
  <feature name="wx">
    <param name="urlScheme" value="wx8e9a88ba16112813"/>
    <param name="apiKey" value="wx8e9a88ba16112813"/>
    <param name="apiSecret" value="4763fd57d609b1290b49f9126fd709d1"/>
  </feature>
  <feature name="wxPay">
    <param name="urlScheme" value="wx8e9a88ba16112813"/>
    <param name="apiKey" value="wx8e9a88ba16112813"/>
    <param name="apiSecret" value="4763fd57d609b1290b49f9126fd709d1"/>
  </feature>
  <feature name="rongCloud2">
    <param name="appKey" value="ik1qhw09ikasp"/>
  </feature>
</widget>
